<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loaded">


    <ion-toolbar>
      <ion-text style="margin-left: 20px; font-size: 19px;">Canvas</ion-text>
    </ion-toolbar>
    <div>
      <h2 style="font-size: 17px; color:#285078; margin-left: 15px; margin-bottom: 0px;">Canva Viewable by</h2>
      <div class="canvasselectoptions">
        <ion-radio-group [(ngModel)]="selectedOption" (ionChange)="handleRadioChange(selectedOption)" style="display: flex; margin-left: 10px; gap: 10px; margin: 10px; margin-top: 0; margin-bottom: 0px; ">
          <ion-item class="ionitemcanvas" style="gap: 3px; margin-bottom: 0px; ">
            <ion-radio style="margin-right: 3px;" value="all"></ion-radio>
            <ion-label class="canvaselect" [ngClass]="getLabelColor('all')">All Finitee Users</ion-label>
          </ion-item>
          <ion-item  class="ionitemcanvas" style="gap: 3px; margin-bottom: 0px;">
            <ion-radio style="margin-right: 3px;" value="connections"></ion-radio>
            <ion-label class="canvaselect" [ngClass]="getLabelColor('connections')">Connections</ion-label>
          </ion-item>
          <ion-item  class="ionitemcanvas" style="gap: 3px; margin-bottom: 0px;">
            <ion-radio style="margin-right: 3px;" value="onlyme"></ion-radio>
            <ion-label class="canvaselect" [ngClass]="getLabelColor('onlyme')">Only me</ion-label>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>
    

   

    <ion-list >
      <ion-item lines="none" style="margin-bottom: 20px;">
        <ion-text style="margin: 0px;">
          <h3 style="color: #285078; font-size: 15px; margin-bottom: 8px;">Be found and shown as a summary screen to users not allowed to view your canvas?</h3>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.LocationShowOnlyWhenLoggedIn"></ion-toggle>
      </ion-item>
      <ion-item lines="none" style="margin-bottom: 20px;">
        <ion-text>
          <h3 style="font-size: 17px;">Allow to make posts</h3>
          <p style="font-size:16px ;  margin-top: 5px;">{{_commonService.getPrivacyFullValue(privacySetting.AllowBeamBy)}}</p>
        </ion-text>
        <ion-buttons *ngIf="!(privacySetting.FreeUserType === 'S' || privacySetting.FreeUserType === 'G')" slot="end" (click)="presentPopover($event,'AllowBeamBy', 'AllowBeamBy')">
          <ion-button shape="round">
            <ion-icon name="three-dots"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <!-- <ion-item lines="none">
        <ion-text>
          <h3>Be found and shown as a summary screen to users not allowed to view your home screen?</h3>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.AllowToViewHomeScreen"></ion-toggle>
      </ion-item> -->
      <ion-item lines="none" style="margin-bottom: 20px;">
        <ion-text>
          <h3 style="font-size: 17px;">Allow to beam</h3>
          <p style="font-size:16px ;  margin-top: 5px;">{{_commonService.getPrivacyFullValue(privacySetting.StartInflows)}}</p>
        </ion-text>
        <ion-buttons *ngIf="!(privacySetting.FreeUserType === 'S' || privacySetting.FreeUserType === 'G')"  slot="end" (click)="presentPopover($event,'StartInflows', 'StartInflows')">
          <ion-button shape="round">
            <ion-icon name="three-dots"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item lines="none">
        <ion-text>
          <h3 style="font-size: 17px;">Post available as inflows to</h3>
          <p style="font-size:16px ;  margin-top: 5px;">No one</p>
          <!-- <p>{{_commonService.getPrivacyFullValue(privacySetting.CanvasViewableBy)}}</p> -->
        </ion-text>
        <ion-buttons *ngIf="!(privacySetting.FreeUserType === 'S' || privacySetting.FreeUserType === 'G')"  slot="end" (click)="presentPopover($event,'StartInflows', 'StartInflows')">
          <ion-button shape="round">
            <ion-icon name="three-dots"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item lines="none">
        <ion-text>
          <h3 style="font-size: 17px;">Allow mentions/speak-tos to be made by</h3>
          <p style="font-size:16px ; margin-top: 5px;">No one</p>
          <!-- <p>{{_commonService.getPrivacyFullValue(privacySetting.CanvasViewableBy)}}</p> -->
        </ion-text>
        <ion-buttons *ngIf="!(privacySetting.FreeUserType === 'S' || privacySetting.FreeUserType === 'G')"  slot="end" (click)="presentPopover($event,'StartInflows', 'StartInflows')">
          <ion-button shape="round">
            <ion-icon name="three-dots"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-list>

    <!-- <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-list>
          <ion-radio-group [value]="selectedPopoverValue" (ionChange)="radioGroupChange($event)">
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'A'}">All Finitee users</ion-label>
              <ion-radio slot="start" value="A"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'C'}">Connected members</ion-label>
              <ion-radio slot="start" value="C"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'O'}">Only me</ion-label>
              <ion-radio slot="start" value="O"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-template>
    </ion-popover> -->

    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-list>
          <ion-radio-group [value]="selectedPopoverValue" (ionChange)="radioGroupChange($event)">
            <ion-item lines="none" *ngIf="para1">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'A'}">All Finitee users</ion-label>
              <ion-radio slot="start" value="A"></ion-radio>
            </ion-item>
            <ion-item lines="none" *ngIf="para2">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'C'}">Connected members</ion-label>
              <ion-radio slot="start" value="C"></ion-radio>
            </ion-item>
            <ion-item lines="none" *ngIf="para3">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'O'}">Only me</ion-label>
              <ion-radio slot="start" value="O"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-template>
    </ion-popover>

  </ng-container>

  <ng-container *ngIf="!loaded">
    <ion-list>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>

<!-- <ion-footer class="create-btn" *ngIf="loaded">
  <ion-button shape="round" expand="block" color="primary" (click)="saveUserPrivacy()">
    Save
  </ion-button>
</ion-footer> -->