
ion-header {
    background-color: #ffffff !important;
    padding: 10px;
  }
  
  ion-toolbar {
    --background: #EAF1F4;
    border-radius: none !important;
    height: 51px;
    display: flex;
    align-items: center;
  }
  
  
  
  ion-title {
    color: #285078;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
  }
  
  ion-text {
    margin-left: 0px;
    font: normal normal 600 17px/24px SF Pro Display;
    letter-spacing: 0.27px;
    color: #505050;
  }
  
  ion-content {
  
    // & ion-title{
    //   color: #285078;
    //   width: 100%;
    //   height: 100%;
    //   text-align:end;
    //   font-size: 40px;
    // }
  
    & ion-button{
      margin-right: 20px;
      margin-bottom: 17px;
    }
  
    & ion-toolbar {
      --background: #EAF1F4;
      border-radius: none !important;
      height: 40px;
      display: flex;
      align-items: center;
 
      margin-bottom: 10px;
      width:auto;
    }
  
    & ion-segment {
      background: #f0f5f7;
      padding: 4px;
      justify-content: space-between;
      margin: 5px 0;
      height: 36px;
  
  
      & ion-text {
        margin-left: 20px;
        font: normal normal 600 17px/24px SF Pro Display;
        letter-spacing: 0.27px;
        color: #505050;
      }
    }
  
    & ion-list {
      padding: 0 15px;
  
      & > ion-text {
  
        h3 {
          font: normal normal 600 15px/24px SF Pro Display;
          letter-spacing: 0.24px;
          color: #285078;
          min-height: 18px;
          margin: 5px 0 0 15px;
          line-height: 18px;
        }
  
      }
  
      & > ion-item {
        --min-height: 30px;
        margin-bottom: 0;
  
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(26, 50, 83, 0.23);
        }
  
  
        & ion-text {
          padding: 0 10px;
          margin-bottom: 10px;
  
          h3 {
            font: normal normal 600 15px/24px SF Pro Display;
            letter-spacing: 0.24px;
            color: #285078;
            min-height: 18px;
            margin: 5px 0 0 0;
            line-height: 18px;
          }
  
          p {
            font: normal normal normal 14px/24px SF Pro Display;
            letter-spacing: 0.22px;
            color: #505050;
            margin: 0 0 5px 0;
            min-height: 16px;
            line-height: 16px;
          }
        }
  
        & ion-toggle {
          width: 50px;
          height: 24px;
  
  
          --background: #F0F5F7;
  
          --background-checked: #AED6E9;
  
          --handle-background: #505050;
          --handle-background-checked: #03A9F5;
  
          --handle-width: 24px;
          --handle-height: 24px;
          --handle-max-height: auto;
  
          --handle-border-radius: 50%;
          --handle-box-shadow: none;
        }
  
  
        & ion-radio-group {
          ion-item {
            --background: none;
            --background-hover: none;
            --ripple-color: transparent;
            margin-bottom: 0;
            --min-height: 25px;
  
            ion-label {
              font: normal normal normal 14px/24px SF Pro Display;
              letter-spacing: 0.22px;
  
              color: #A8A8A8;
  
              &.selected {
                color: #03A9F5;
              }
  
              margin: 0;
            }
  
            ion-radio {
              width: 18px;
              height: 18px;
              margin: 0 5px 0 10px;
              --color: #ddd;
              --color-checked: #03A9F5;
            }
          }
        }
      }
    }
  }
  
  ion-popover {
    --max-width: 183px;
    --border-radius: 20px;
  
    ion-text {
      padding: 10px 10px 0;
      font: normal normal normal 16px/26px SF Pro Display;
      letter-spacing: 0.25px;
      color: #285078;
      text-align: center;
    }
  
    ion-list {
      padding: 15px 2px 10px;
  
      ion-radio-group {
        ion-item {
          --min-height: 25px;
          --background: none;
          --background-hover: none;
          --ripple-color: transparent;
          margin: 5px 0;
  
          ion-label {
            font: normal normal normal 14px/24px SF Pro Display;
            letter-spacing: 0.22px;
            color: #A8A8A8;
            margin: 0;
  
            &.selected {
              color: #03A9F5;
            }
          }
  
          ion-radio {
            width: 18px;
            height: 18px;
            margin: 0 5px 0 15px;
            --color: #ddd;
            --color-checked: #03A9F5;
          }
        }
      }
  
    }
  
  }
.canvasselectoptions{
  display: flex;
  justify-content: space-between;
}
.canvaselect{
  font-size: 15px;

}
.blue-label {
  color: #03A9F5 !important; /* Make sure to use !important to override any default styles */
}

.grey-label {
  color: #A8A8A8 !important; /* Make sure to use !important to override any default styles */
}
.ionitemcanvas{
  --border-style: none !important;
}
