<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbutton" (click)="handleBackButtonClick()" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <app-notification-icon></app-notification-icon>
    </ion-buttons>
    <ion-title>Edit eCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loaded">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit eCard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="edit-card-container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
        
              <ion-row class="table-row">
                <ion-col size="3.5"  class="table-cell">
                  <ion-label style="font-weight: bold;">Field</ion-label>
                </ion-col>
                <ion-col size="8.5"  class="table-cell">
                  <ion-input value="Value" readonly></ion-input>
                </ion-col>
              </ion-row>


              <ion-row class="table-row" *ngFor="let row of dynamicRows | slice:0:4; let i = index">
                <ion-col size="3.5" class="table-cell">
                  <ion-label *ngIf="row.field === 'PhoneNumber'"> Phone </ion-label>
                  <ion-label *ngIf="row.field !== 'PhoneNumber'">{{ row.field }}</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  <ion-input [(ngModel)]="row.value" maxlength="40" (ngModelChange)="onPrimaryFieldChange()"></ion-input>
                </ion-col>
              </ion-row>


<!--   
              <ion-row class="table-row">
                <ion-col size="3.5" class="table-cell">
                  <ion-label>Name</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  <ion-input [(ngModel)]="dynamicRows['Name']" id="nameInput" maxlength="15" (ngModelChange)="onPrimaryFieldChange()"></ion-input>
                </ion-col>
              </ion-row> -->


              <!-- Dynamic Rows -->
              <ion-row class="table-row" *ngFor="let row of dynamicRows | slice:4; let i = index">
                <ion-col size="3.5" class="table-cell">
                  <ion-input class="ion-field placeholder-input" [(ngModel)]="row.field" id="fieldTextarea" maxlength="15" placeholder="Field" (ngModelChange)="onInputChange(i)"></ion-input>
                </ion-col>
                
                <ion-col size="8.5" class="table-cell">
                  <ion-input [(ngModel)]="row.value" maxlength="50" placeholder="Value" (ngModelChange)="onInputChange(i)"></ion-input>
                  

                  <ion-button fill="clear" color="danger" class="delete-icon" *ngIf="i+4 !== dynamicRows.length - 1" (click)="deleteDynamicRow(i)">

                    <ion-icon style="margin-right: -17px;" slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="action-buttons">
    <ion-button 
      color="primary" 
      style="border-radius: 20px;" 
      (click)="addECard()"
      [disabled]="!hasUnsavedChanges">
      Save
    </ion-button>
  </div>
</ion-content>
