// .first-row {
//   ion-label {
//     color: #ce4d4d; /* Color for Field in the first row */
//   }

//   ion-input {
//     color: #242323; /* Color for Value in the first row */
//   }
// }

.edit-card-container {
  padding: 16px;

  ion-card {
    border-radius: 12px;
    overflow: hidden;
    border: 1.5px solid #707070;
    border-width: 2px;
    background: #F0F5F7;
  }

  ion-card-content {
    padding: 0;

    ion-grid {
      margin: -5px;
      .table-row {
        display: flex;
        align-items: center;
        border-bottom: 1.5px solid #707070; /* Border between rows */
        border-width: 2px;
        &:last-child {
          border-bottom: none; /* No border for the last row */
        }
      }

      .table-cell {
        display: flex;
        align-items: center;
        margin-top: -2px; /* Aligns content vertically in the center */
        padding: 12px;
        border-right: 1.5px solid #707070;
        border-width: 2px;
        height: 50px;
        &:last-child {
          border-right: none; /* No border for the last cell in the row */
        }

        ion-label {
          display: block;
          color: #285078;
          font-weight: 400;
           /* Color for Field labels */
          // font-weight: 700;
        }

        ion-input {
          width: 100%;
          color: #285078; /* Color for Value fields */
          font-weight: 700;
          --padding-start: 0;
          --padding-end: 0;
          --background: transparent;
          line-height: normal; /* Ensure the line height is normal */
          padding: 0; /* Remove padding to fix alignment */
        }

        /* Specific styling for Field column in dynamic rows */
        .ion-field {
          color: #285078; /* Apply Field color */
          font-weight: 400;
        }

        .delete-icon {
          width: 30px;
          height: 15px;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

ion-content {
  .action-buttons {
    margin-bottom: 80px;
    text-align: center;

    ion-button {
      width: 90%;
      height: 53px;
      border: 0;
      --border-radius: 30px;
    }
  }

  .placeholder-input {
    color: #285078; /* Apply the same color as the labels */
    font-weight: 700;
    ::placeholder {
      color: #bb5668; /* Set the same color for the placeholder text */
      font-style: normal; /* Ensure it has the same font style as regular text */
    }
  }

  ion-label {
    color: #285078; /* Apply the same color as the labels */
    font-weight: 700;
  }
}

.confirm-dialog {
  .dialog-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .dialog-header {
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
    }
  }

  .dialog-content {
    margin: 20px 0;
    p {
      font-size: 16px;
      color: #555555;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: space-around;
    
    ion-button {
      --border-radius: 20px;
      --padding-start: 15px;
      --padding-end: 15px;
      --padding-top: 10px;
      --padding-bottom: 10px;

      &:first-child {
        --background: #e74c3c;
        --color: white;
      }
      
      ion-icon {
        margin-inline: 0;
        transform: scale(0.8);
      }
      
      &:last-child {
        --background: #3498db;
        --color: white;
      }
    }
  }
}

.backbutton {
  ion-button {
    --background: none;
    --color: var(--ion-color-primary);
    --padding-start: 0;
    --padding-end: 0;
  }
}
