<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-notification-icon></app-notification-icon>
    </ion-buttons>
    <ion-title>Edit eCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit eCard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="edit-card-container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
        
              <ion-row class="table-row">
                <ion-col size="3.5"  class="table-cell">
                  <ion-label style="font-weight: bold;">Field</ion-label>
                </ion-col>
                <ion-col size="8.5"  class="table-cell">
                  <ion-input value="Value" readonly></ion-input>
                </ion-col>
              </ion-row>
  
              <ion-row class="table-row">
                <ion-col size="3.5" class="table-cell">
                  <ion-label>Name</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  {{eCard.Name}}
                  <ion-input id="nameInput" readonly></ion-input>
                </ion-col>
              </ion-row>
  
              <ion-row class="table-row">
                <ion-col size="3.5" class="table-cell">
                  <ion-label>Email</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  {{eCard.Email}}
                  <ion-input id="emailInput" readonly></ion-input>
                </ion-col>
              </ion-row>
  
              <ion-row class="table-row">
                <ion-col size="3.5" class="table-cell">
                  <ion-label>Phone No.</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  {{eCard.PhoneNumber}}
                  <ion-input id="phoneInput"readonly></ion-input>
                </ion-col>
              </ion-row>
  
              <ion-row class="table-row">
                <ion-col size="3.5" class="table-cell">
                  <ion-label>Website</ion-label>
                </ion-col>
                <ion-col size="8.5" class="table-cell">
                  {{eCard.Website}}
                  <ion-input id="websiteInput" readonly></ion-input>
                </ion-col>
              </ion-row>
  
              <!-- Dynamic Rows -->
              <ion-row class="table-row" *ngFor="let row of dynamicRows; let i = index">
                <ion-col size="3.5" class="table-cell">
                  <ion-input
                    placeholder="Field"
                    [(ngModel)]="row.field"
                   
                    style="color: #28507880;"
                  ></ion-input>
                </ion-col>
                
                <ion-col size="8.5" class="table-cell">
                  
                  <ion-input
                    placeholder="Value"
                    [(ngModel)]="row.value"
                    
                    style="color: #28507880;"
                  ></ion-input>
                  <ion-button fill="clear" color="danger" class="delete-icon" (click)="deleteDynamicRow(i)">
                    <ion-icon style="margin-right: -17px;" slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
           
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  
  
  <div class="action-buttons" (click)="addRow()">
    <ion-button color="primary" style="border-radius: 20px;">Save</ion-button>
  </div>
</ion-content>
