<ion-content>

  <ion-list class="profileBgClass">
    <!-- user data -->
    <ion-item lines="none" class="profileBg" style="--overflow:visible;">
      <ng-container slot="start" style="position: relative;">
        <ion-avatar>
          <img class="business-logo" [src]="appConstants.mediaPrefix"
            onError="this.src='assets/icons/business/anonymous.svg'"/>
        </ion-avatar>
        <ion-label class="fi-name-label">
          <!-- <h3>{{post.CreatedBy!.UserName}}</h3> -->
           <h3>Nisarg Barot</h3>
        </ion-label>
      </ng-container>

      <ion-buttons slot="end">
        <ion-button shape="round">
          <ion-icon name="three-dots"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- image and video-->
  <div class="ion-text-center  post-screen-slide">
    <ion-slides>
      <ion-slide>
        <ion-card class="media">
          <ion-icon src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Creat post + icon.svg"></ion-icon>

          <!-- <video class="video" [poster]="appConstants.mediaPrefix "
            controls>
            <source [src]="appConstants.mediaPrefix  " type="video/mp4">
          </video> -->

          <!-- <ion-img id="{{post.Id}}-img" 
            [src]="appConstants.mediaPrefix ">
          </ion-img> -->

        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item lines="none" class="bottom-menu display-flex ion-justify-content-between">
    <div class="favour-n-beam">
      <ion-buttons>
        <ion-button shape="round" >
          <ion-icon name="comment-favour-outlined"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="post-chat"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="beam-post"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <div class="stats display-flex ion-align-items-center fi-flexend">
      <h4>25 Favors</h4>
      <span></span>
      <h4>10 Beams</h4>
      <span></span>
      <h4>7 Comments</h4>
    </div>
  </ion-item>

</ion-content>



    <!-- <ion-buttons>
      <ion-button [disabled]="isUploadDisabled || isDisabled || (postLimit == 5)"  shape="round" (click)="captuerMedia($event,appConstants.MEDIA_PICTURE,appConstants.SOURCE_CAMERA)">
        <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen camera icon.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="videoRecDisable != 11" [disabled]="isUploadDisabled || (postLimit == 5)" shape="round" (click)="captuerMedia($event,appConstants.MEDIA_VIDEO,appConstants.SOURCE_CAMERA)">
        <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen video icon.svg"></ion-icon>
      </ion-button>
      <ion-button [disabled]="isUploadDisabled || isDisabled || (postLimit == 5)" shape="round"
        (click)="captuerMedia($event,appConstants.MEDIA_PICTURE,appConstants.SOURCE_PHOTOLIBRARY)">
        <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen gallery icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <div style="display: flex; width: 200px;height: 40px;">
      <ion-item style="width: 100px;height: 100px;" [disabled]="isUploadDisabled || isDisabled || (postLimit == 5)"  shape="round" (click)="captuerMedia($event,appConstants.MEDIA_PICTURE,appConstants.SOURCE_CAMERA)">
        <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen camera icon.svg"  style="width: 100%;height: 100%;"></ion-icon>
      </ion-item>
      <ion-item  style="width: 100px;height: 100px;" *ngIf="videoRecDisable != 11" [disabled]="isUploadDisabled || (postLimit == 5)" shape="round" (click)="captuerMedia($event,appConstants.MEDIA_VIDEO,appConstants.SOURCE_CAMERA)">
        <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen video icon.svg" style="width: 100%;height: 100%;"></ion-icon>
      </ion-item>
      <ion-item style="width: 100px;height: 100px;" [disabled]="isUploadDisabled || isDisabled || (postLimit == 5)" shape="round"
        (click)="captuerMedia($event,appConstants.MEDIA_PICTURE,appConstants.SOURCE_PHOTOLIBRARY)">
      <ion-icon src="assets/icons/screen-wise-icons/Sonar icons/Chat screen gallery icon.svg" style="width: 100%;height: 100%;"></ion-icon>
    </ion-item>
    </div>
    
 
<ion-row>
  <ion-col size="4" *ngFor="let mediaFile of mediaFiles; let i = index">
    <ion-card>
      <ng-container *ngIf="mediaFile.indexOf('localhost')!=-1 || mediaFile.indexOf('base64')!=-1;">
        <img style="width:100%; height: 96px;" src="{{mediaFile}}" />
        <ion-spinner style="position: absolute; color: #03A9F4; left: 30%; width: 45px; height: 45px;">
        </ion-spinner>
        <div style="position: absolute; color: #03A9F4; left: 30%; width: 45px; height: 45px;">
          {{attachmentService.progress}}%</div>
      </ng-container>
      <ng-container *ngIf="mediaFile.indexOf('localhost')==-1 && mediaFile.indexOf('base64')==-1;">
        <img style="width:100%; height: 96px;" src="{{appConstants.mediaPrefix + mediaFile}}" />
      </ng-container>
      <ion-buttons *ngIf="attachmentService.progress === 98" class="remove">
        <ion-button shape="round" (click)="deleteProductImage(i)">
          <ion-icon src="assets/icons/screen-wise-icons/Home screen icons/x icon in edit screen.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card>
  </ion-col>
  <!-- <ion-col size="4">
    <ion-card *ngIf="traitPost < 1 && postLimit <= 5">
      <ion-buttons>
        <ion-button [disabled]="isUploadDisabled || isDisabled || (postLimit == 5)" shape="round"
          (click)="captuerMedia($event,appConstants.MEDIA_PICTURE,appConstants.SOURCE_PHOTOLIBRARY)">
          <ion-icon src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Creat post + icon.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card>
  </ion-col> -->
</ion-row>