<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<div style="display: flex; flex-direction: column; text-align: center; margin-top: 20px;">
  <h1 style="color: #505050; font-size: 17px; margin-bottom: 0px; margin-top: 0px;">Last Updated</h1>
  <p style="color: #285078; font-size: 18px; margin-bottom: 20px;">30 days ago</p>
</div>

<form>
  <ion-item lines="none"  style="margin-left: 14px;margin-right: 14px; margin-bottom: -15px;">
    <p style="color: red;font-size: medium;" ></p>
  </ion-item>
  <ion-item lines="none" class="fi-padding" >

    <!-- <ion-label *ngIf="errorMsgGrp.loginResponse.length>0">{{errorMsgGrp.loginResponse}}</ion-label> -->
    
    <ion-input class="input fi-margin"  formControlName="firstname"
      placeholder="Old Password" type="firstname" name="firstname"></ion-input>
    <!-- <span slot="error" *ngIf="errorMsgGrp.loginResponse.length > 0">{{errorMsgGrp.loginResponse}}</span> -->
  </ion-item>

  <!-- <ion-input class="input1" (ionChange) = "onEmailInputChange($event)" formControlName="email" placeholder="Email/Phone number" type="inputTypePhone ? number:email" name="email"></ion-input> -->
  <ion-item lines="none" class="fi-padding" >
    <ion-input class="input fi-margin" formControlName="lastname" placeholder="New Password" type="lastname" name="lastname"></ion-input>
  </ion-item>


  <ion-item lines="none" class="fi-padding" >
    <ion-input class="input fi-margin" formControlName="password" placeholder="Re-enter Password" type="password" name="password"></ion-input>
  </ion-item>
    <!-- <span slot="error">{{errorMsgGrp.password}}</span> -->
    <!-- <re-captcha [(ngModel)]="captcha" name="captcha" required #captchaControl="ngModel"></re-captcha> -->
    <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha> -->
  <ion-button  color="primary" class="lgn-button" type="submit">Continue</ion-button>
  <!-- <ion-button *ngIf="inputTypePhone" color="primary" class="lgn-button" type="button" (click)="sendSignInOTP()">Sign in using OTP</ion-button> -->
</form>
