<ion-header class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/icons/screen-wise-icons/Canvas screens icons as svg/Back icon.svg">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Confirm donations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Please confirm that these users have made donations</ion-text>
  <ion-list>

    <ion-item lines="none" *ngFor="let item of data">
      <ion-avatar slot="start">
        <img alt="Logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>{{item.UsersNode.DisplayName}}</h3>
        <p>{{this.post.Title}}</p>
        <p class="date">5 days ago</p>
      </ion-label>

      <ion-buttons *ngIf="!item.DonationEDGE.Status">
        <ion-chip class="yes" (click)="donationConfimAction(item.UsersNode,'YES')">
          Yes
        </ion-chip>
        <ion-chip class="no" (click)="donationConfimAction(item.UsersNode,'NO')">
          No
        </ion-chip>
      </ion-buttons>
      <ion-text  *ngIf="item.DonationEDGE.Status">
        {{item.DonationEDGE.Status}}
      </ion-text>
    </ion-item>



  </ion-list>
</ion-content>