ion-card {
  --background: #fff;
  --color: #000;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
}

ion-card-header {
  padding: 0;
}


ion-card-title {
  --color: #000;
  text-align: left;
  letter-spacing: 0.24px;
  color: #1A3253;
  opacity: 1;
  font-size: 16px;
  font-weight: bold;

  &.red-text {
    color: #782828;
  }
}


ion-segment {
  --color: #000;
}

ion-icon {
  font-size: 27px;
  color: rgb(0, 0, 0);
}

.segment-btn {
  color: #000;
}

.connection-card {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0;
  border-bottom: 2px solid #93a7bb;
}

.first-section {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

  & > ion-icon {
    height: 25px;
    width: 25px;

    &.edit-icon {
      height: 23px;
      width: 23px;
    }
  }

}

.second-section {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-left: 7px;
}

.third-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icons {
  padding: 8px;
  width: 35px;
  height: 28px;
  border-radius: 14px;
  background-color: #03A9F5;
  align-items: center;
  display: flex;
}

.icons-menu {
  padding: 8px;
  width: 35px;
  height: 28px;
  border-radius: 14px;
  background-color: #8c98a9;
  align-items: center;
  display: flex;
}

.accept {
  width: 72px;
  height: 28px;
  border-radius: 14px;
  background-color: #03A9F5;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  p {
    color: white;
  }
}

.declain {
  width: 72px;
  height: 28px;
  border-radius: 14px;
  background-color: #E57676;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  p {
    color: white;
  }
}

.my-label {
  font-size: 12px;
  letter-spacing: 0.22px;
  color: #285078;
}
