<ion-content>
  <div>
    <ion-card value="business-product-privacy" class="ion-padding-top">
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card" (click)="editProduct()">
          <div class="first-section">
            <ion-icon
              class="privacy-icon"
              name="privacy"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Edit privacy</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card value="business-product-edit" class="ion-padding-top">
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card" (click)="editProduct()">
          <div class="first-section">
            <ion-icon
              class="edit-icon"
              src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Edit icon.svg"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Edit product</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card value="business-product-edit">
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card">
          <div class="first-section">
            <ion-icon
              src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Menu delete icon.svg"></ion-icon>
          </div>
          <div class="second-section ion-text-center">
            <ion-card-title class="red-text">Delete</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
