.lines-bottom {
  border-bottom: 1px solid #d3e8ef;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-title{
  text-align: center;
}

.action-list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 38px;
}

.maptab {
  text-align: center;
  padding: 15px;
  display: flex;

  ion-button {
      --background: #f0f5f7;
      --box-shadow: none;
      color: #285078;
      font-size: 13px;
      text-transform: none;
      margin: 0px 10px;
      --padding-end: 25px;
      --padding-start: 25px;
  }
}

ion-accordion-group {


& > ion-accordion {

  & > ion-item {
    margin-bottom: 0;
    --min-height: 52px;
    --background: #f0f5f7;

    & > ion-icon {
      font-size: 30px;
      margin-left: 28px;
    }

    & > ion-label {
      font: normal normal bold 14px/28px SF Pro Display;
      letter-spacing: 0.22px;
      color: #285078;
      height: 16px;
      line-height: 16px;
      margin-left: 9px;
    }

  }
}
}
.circular-image {
width: 100%;
max-width: 59px;
height: 59px;
border-radius: 50%;
object-fit: cover; /* This ensures the image covers the element completely without distortion */
}

.itemforsale{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 14px/24px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal 600 16px/24px SF Pro Display;
letter-spacing: 0.22px;
color: #285078;
margin-bottom: 0px;
}
.salesqownername{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 14px/24px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-1a3253);
text-align: left;
font: normal normal 600 17px/26px SF Pro Display;
letter-spacing: 0.22px;
color: #1A3253;
opacity: 1;
}

.miles{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 15px/24px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-03a9f5);
text-align: left;
font: normal normal 600 17px/26px SF Pro Display;
letter-spacing: 0.24px;
color: #03A9F5;
opacity: 1;
}

.posteddate{
margin-top: 10px; font: var(--unnamed-font-style-normal) normal normal 11px/21px var(--unnamed-font-family-sf-pro-display);
                color: var(--unnamed-color-1a3253);
                text-align: center;
                font: normal normal normal 14px/21px SF Pro Display;
                letter-spacing: 0.18px;
                color: #1A3253;
}
.postcount{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 14px/24px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal 600 14px/24px SF Pro Display;
letter-spacing: 0.22px;
color: #285078;
opacity: 1;
font-weight: 900;
}

.salesownername{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 16px/26px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-1a3253);
text-align: left;
font: normal normal 600 14px/24px SF Pro Display;
letter-spacing: 0.22px;
color: #1A3253;
}

.businessdiscription{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 14px/16px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal 600 14px/16px SF Pro Display;
letter-spacing: 0.22px;
color: #285078;
}

.businessname{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 17px/24px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal 600 17px/24px SF Pro Display;
letter-spacing: 0.27px;
color: #285078;
margin-top: 7px;
}
