<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Add traits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    Select traits.
  </ion-text>
  <div class="traits">
    <div class="trait" *ngFor="let trait of traitsData">
      <h2>{{trait.category}}</h2>
      <div class="trait-options">
        <ion-button *ngFor="let traitSC of trait.subCategory" [color]="getColor(traitSC)"
          (click)="selectTrait(traitSC)">{{traitSC}}</ion-button>
      </div>
      <ion-buttons class="display-flex ion-justify-content-center">
        <ion-button shape="round">See more</ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" shape="round"
    [color]="(selectedTraits && this.selectedTraits.length==0) ? 'medium' : 'primary'"
    (click)="saveTraitsProfile()">Save</ion-button>
</ion-footer>