.lines-bottom {
    border-bottom: 1px solid #d3e8ef;
}

ion-title{
    text-align: center;
}

.action-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.maptab {
    text-align: center;
    padding: 15px;
    display: flex;

    ion-button {
        --background: #f0f5f7;
        --box-shadow: none;
        color: #285078;
        font-size: 13px;
        text-transform: none;
        margin: 0px 10px;
        --padding-end: 25px;
        --padding-start: 25px;
    }
}
.activeclass{
    font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-13)/15px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal normal 13px/15px SF Pro Display;
letter-spacing: -0.08px;
color: #285078;
}

.username{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/21px var(--unnamed-font-family-sf-pro-display);
color: var(--unnamed-color-285078);
text-align: left;
font: normal normal 600 18px/21px SF Pro Display;
letter-spacing: 0.29px;
color: #285078;
opacity: 1;
}
.acceptedreq{
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-13)/15px var(--unnamed-font-family-sf-pro-display);
text-align: left;
font: normal normal normal 15px/17px SF Pro Display;
letter-spacing: -0.08px;
color: #43E63C;
text-align: center;
font-weight: 600;
}

.activeclass {
    width: 152px;
    height: 34px;
    background: #F0F5F7; /* Default background color */
    border-radius: 17px;
    opacity: 1;
    color: black; /* Default text color */
    border: none; /* Remove any border */
    margin: 0 5px; /* Add some margin between buttons */
  }
  
  .activeclass.active {
    --background: #03A9F5 !important; 
    color: white !important;
  }
  