<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="paramsData.isDonationPost">Donation Request</span>
      <span *ngIf="!paramsData.isDonationPost && paramsData.Type != 'TRAIT' ">Create Post</span>
      <span *ngIf="!paramsData.isDonationPost && (paramsData.Type === 'TRAIT')">Create Trait Post</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div style="--overflow:visible; background: #EAF1F4 0% 0% no-repeat padding-box !important; width: 100%;">
  <ion-list class="profileBgClass">
    <!-- user data -->
    <ion-item lines="none" class="profileBg" style="--overflow:visible; ">
      <ng-container slot="start" style="position: relative;">
        <ion-avatar>
          <img class="business-logo" [src]="appConstants.mediaPrefix"
            onError="this.src='assets/icons/business/anonymous.svg'"/>
        </ion-avatar>
        <ion-label class="fi-name-label">
          <!-- <h3>{{post.CreatedBy!.UserName}}</h3> -->
           <h3>Nisarg Barot</h3>
        </ion-label>
        
     

      </ng-container>

      <ion-buttons slot="end">
        <ion-button shape="round">
          <ion-icon name="three-dots"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</div>

  <!-- image and video-->
  <div class="ion-text-center  post-screen-slide ">
    <ion-slides *ngIf="fileToUpload.length > 0" [pager]="true" class="post-screen-slide">
      <ion-slide  *ngFor="let photo of fileToUpload" style="display: block; height: auto;">
        <ion-card >

          <video *ngIf="photo['mediaType'] === 'V' " class="video" 
            controls>
            <source [src]="photo.filePath" type="video/mp4">
          </video>

          <ion-img *ngIf="photo['mediaType'] !== 'V' " style="width: 100%;" id="{{post.Id}}-img" 
            [src]="photo.thumbFilePath">
          </ion-img>

        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-card *ngIf="fileToUpload.length <= 0" class="media">
      <ion-icon src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Creat post + icon.svg"></ion-icon>
    </ion-card>
  </div>


  <ion-item lines="none" class="bottom-menu display-flex ion-justify-content-between">
    <div class="favour-n-beam">
      <ion-buttons>
        <ion-button shape="round" >
          <ion-icon name="comment-favour-outlined"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="post-chat"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="beam-post"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <div class="stats display-flex ion-align-items-center fi-flexend">
      <h4>25 Favors</h4>
      <span></span>
      <h4>10 Beams</h4>
      <span></span>
      <h4>7 Comments</h4>
    </div>
  </ion-item>
  


  <ion-list class="input-form">
    <!--Title-->

    <!-- <ion-item lines="none" *ngIf="paramsData.isDonationPost">
      <ion-input [(ngModel)]="post.Title" autocapitalize="on" class="custom-textarea"
        placeholder="Title"></ion-input>
    </ion-item>

    <p style=" font: normal normal 600 15px/24px SF Pro Display; letter-spacing: 0.21px; color: #505050; margin-left: 5px;"  *ngIf="paramsData.Type === 'TRAIT' ">Trait</p>
    <ion-item lines="none" *ngIf="paramsData.Type === 'TRAIT' " >
      <ion-input [(ngModel)]="paramsData.TraitRequest.Trait" [readonly]="isTraitReadOnly" autocapitalize="on" class="custom-textarea"
        placeholder="Trait"></ion-input>
    </ion-item> -->

    <!--Description-->

    <!-- <ion-item lines="none">
      <ion-textarea [(ngModel)]="post.PostDescription" autocapitalize="on" class="custom-textarea"
        placeholder="Type description here" maxLength="2000" >
      </ion-textarea>
    </ion-item> -->

    <!--traits-->

    <!-- <ion-chip *ngFor="let trait of post.PostTraits;  let i = index" color="primary">
      <ion-label>{{trait }}</ion-label>
      <ion-icon name="close-circle" color="white" (click)="deleteTrait(i)"></ion-icon>
    </ion-chip> -->

    <!-- <ion-button expand="block" color="light" (click)="addTraits()">Add Traits</ion-button> -->
    <!-- <ion-button expand="block" color="light" (click)="addTraits()">Add Tags</ion-button> -->


    <!--privacy-->

    <ion-item lines="none" id="viewable-by" class="item-selection" *ngIf="paramsData.isDonationPost">
      <ion-input placeholder="Privacy" value="{{_commonService.getPrivacyFullValue(post.Privacy)}}"
        [(ngModel)]="post.Privacy"></ion-input>
      <ion-buttons>
        <ion-button shape="round">
          <ion-icon name="down-arrow"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-popover trigger="viewable-by" side="bottom" alignment="end" [dismissOnSelect]="true" triggerAction="click">
      <ng-template>
        <ion-list>
          <ion-radio-group value="{{post.Privacy}}" (ionChange)="selectedPrivacy($event)">
            <ion-item lines="none" *ngFor="let privacy of appConstants.GeneralPivacy">
              <ion-label [ngClass]="{'selected': (post.Privacy==privacy.value)}">{{privacy.value}}</ion-label>
              <ion-radio slot="start" value="{{privacy.value}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-template>
    </ion-popover>


    <!-- multiple file uplaod -->
    <app-multiple-media-upload 
      [postLimit]="post.PostImages.length"
      [mediaFiles]="post.PostImages"
      (filePathEvent)="addMedia($event)"
      (imagePath)="imagePathMedia($event)"
      (fileToUpload)="fileToUploadToServer($event)">
    </app-multiple-media-upload>

    <!-- <div class="error-message" *ngIf="saveClicked && post.PostImages.length==0 && post.PostDescription==''">
      <ion-icon name="information-circle-outline"></ion-icon>
      <span>Please enter Description or atleast one image/video</span>
    </div> -->

  </ion-list>

</ion-content>

<ion-footer class="create-btn">
  <!-- <ion-button shape="round" expand="block"
    [color]="(post.PostDescription=='' && post.PostImages.length==0) ? 'medium' : 'primary'" 
    (click)="savePost()"
    [disabled]="saveClicked">
    Create post
  </ion-button> -->

  <ion-button shape="round" expand="block"
  color="primary" 
  [disabled]="photo.length === 0"
  (click)="addPost()">
  Create post
</ion-button>
</ion-footer>