<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="assets/icons/screen-wise-icons/Canvas screens icons as svg/Back icon.svg">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isEdit">Create Event</ion-title>
    <ion-title *ngIf="isEdit">Edit Event</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="onSubmit()">

    <!--Title-->
    <div class="input-container">
      <ion-label class="input-label"><ion-note color="danger">*</ion-note> Title</ion-label>
      <ion-item lines="none">
        <ion-input autocapitalize="on" class="input" placeholder="event title" type="text" #Title="ngModel" name="Title"
          [(ngModel)]="eventItem.Title" minlength="3" maxlength="30" required></ion-input>
      </ion-item>
    </div>
    <div *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="error-message">
      <div *ngIf="Title.errors?.['required']">
        event title is required.
      </div>
      <div *ngIf="Title.errors?.['minlength']">
        Enter atleast 3 character.
      </div>
    </div>

    <!-- Description -->
    <div class="input-container">
      <ion-label class="input-label"><ion-note color="danger">*</ion-note>Description</ion-label>
      <ion-item lines="none">
        <!-- <ion-input autocapitalize="on" class="input" placeholder="desription" type="text" #Description="ngModel" name="Desription"
          [(ngModel)]="eventItem.Description" minlength="80" maxlength="1200" required>
        </ion-input> -->
        <ion-textarea autocapitalize="on" class="input" placeholder="description" type="text" #Description="ngModel" name="Description"
          [(ngModel)]="eventItem.Description" minlength="40" maxlength="1200" required>
        </ion-textarea>
      </ion-item>
    </div>    
    <div *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="error-message">
      <div *ngIf="Description.errors?.['required']">
        Description is required.
      </div>
      <div *ngIf="Description.errors?.['minlength']">
        Enter atleast 40 character.
      </div>
    </div>

    <!-- traits -->
    <div style=" margin-left: 10px; margin-right: 10px;">
      <app-traits [traits]="eventItem.EventTraits" (traitEvent)="allTraits($event)" ></app-traits>
    </div>
    <div *ngIf="commonService.eventTraitError" class="error-message">
      Only 5 traits allowed.
    </div>    
    <!-- start date -->
    <ion-label class="input-label">Start date</ion-label>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="DD" inputmode="numeric" #sday="ngModel" name="day"
              (ionChange)="isStartDateGreaterOrEqualToToday()" [(ngModel)]="_startDate.day"
              pattern="^(0?[1-9]|1\d|2\d|3[01])$" maxlength="2"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col size="3.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="MM" inputmode="numeric" #smonth="ngModel" name="month"
              (ionChange)="isStartDateGreaterOrEqualToToday()" [(ngModel)]="_startDate.month"
              pattern="^(?:0?[1-9]|1[0-2])$" maxlength="2">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="YYYY" inputmode="numeric" #syear="ngModel" name="year"
              (ionChange)="isStartDateGreaterOrEqualToToday()" [(ngModel)]="_startDate.year" pattern="^\d{4}$"
              maxlength="4"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="startDateError.is_show && !(sday?.invalid && (sday.dirty || sday.touched)) && !(smonth?.invalid && (smonth.dirty || smonth.touched)) && !(syear?.invalid && (syear.dirty || syear.touched))" class="error-message">
      {{startDateError.message}}
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3.5">
          <div *ngIf="sday?.invalid && (sday.dirty || sday.touched)" class="error-message">
            Invalid day
          </div>
        </ion-col>
        <ion-col size="3.5">
          <div *ngIf="smonth?.invalid && (smonth.dirty || smonth.touched)" class="error-message">
            Invalid month
          </div>
        </ion-col>
        <ion-col size="4.5">
          <div *ngIf="syear?.invalid && (syear.dirty || syear.touched)" class="error-message">
            Invalid year
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- start time -->
    <ion-label class="input-label">Start Time</ion-label>
    <ion-row>
      <ion-col class="ion-no-padding" size="2.5">
        <ion-item color="none" class="input" lines="none">
          <ion-input style="text-align: center;" placeholder="HH" inputmode="numeric" maxlength="2"
            #starthh="ngModel" (ionChange)="isStartTimeIsGreaterThanCurrentTime()" name="shh"
            [(ngModel)]="startTime.shh" pattern="^(?:0?[1-9]|1[0-2])$"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="2.5">
        <ion-item color="none" class="input" lines="none">
          <ion-input style="text-align: center;" placeholder="MM" inputmode="numeric" maxlength="2"
            #startmm="ngModel" (ionChange)="isStartTimeIsGreaterThanCurrentTime()" name="smm"
            [(ngModel)]="startTime.smm" pattern="^(?:[0-5]?[0-9])$"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-no-padding">
        <ion-radio-group name="sampm" [(ngModel)]="startTime.sampm"
          (ionChange)="isStartTimeIsGreaterThanCurrentTime()" class="display-flex">
          <ion-item lines="none" class="  fi-margin-right">
            <ion-radio slot="start" value="AM" class="ion-no-margin"></ion-radio>
            <ion-label class="selected"> &nbsp; AM</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-radio slot="start" value="PM" class="ion-no-margin"></ion-radio>
            <ion-label> &nbsp;PM</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding" size="1"></ion-col>
      <ion-col class="ion-no-padding" size="3">
        <div *ngIf="starthh?.invalid && (starthh.dirty || starthh.touched)" class="error-message">
          Invalid hours
        </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="4">
        <div *ngIf="startmm?.invalid && (startmm.dirty || startmm.touched)" class="error-message">
          Invalid minutes
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="startTimeError.is_show  && !(starthh?.invalid && (starthh.dirty || starthh.touched)) && !(startmm?.invalid && (startmm.dirty || startmm.touched))" class="error-message">
      {{startTimeError.message}}
    </div>    


    <!-- End date -->
    <ion-label class="input-label">End date</ion-label>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="DD" inputmode="numeric" #eday="ngModel" name="endDay"
              (ionChange)="isEndDateGreaterOrEqualToToday()" [(ngModel)]="_endDate.day"
              pattern="^(0?[1-9]|1\d|2\d|3[01])$" maxlength="2" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="MM" inputmode="numeric" #emonth="ngModel" name="endMonth"
              (ionChange)="isEndDateGreaterOrEqualToToday()" [(ngModel)]="_endDate.month"
              pattern="^(?:0?[1-9]|1[0-2])$" maxlength="2" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4.5">
          <ion-item color="none" class="input" lines="none">
            <ion-input style="text-align: center;" placeholder="YYYY" inputmode="numeric" #eyear="ngModel" name="endYear"
              (ionChange)="isEndDateGreaterOrEqualToToday()" [(ngModel)]="_endDate.year" pattern="^\d{4}$"
              maxlength="4" required>
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div *ngIf="endDateError.is_show && !(eday?.invalid && (eday.dirty || eday.touched)) && !(emonth?.invalid && (emonth.dirty || emonth.touched)) && !(eyear?.invalid && (eyear.dirty || eyear.touched))" class="error-message">
      {{endDateError.message}}
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3.5">
          <div *ngIf="eday?.invalid && (eday.dirty || eday.touched)" class="error-message">
            Invalid day
          </div>
        </ion-col>
        <ion-col size="3.5">
          <div *ngIf="emonth?.invalid && (emonth.dirty || emonth.touched)" class="error-message">
            Invalid End month
          </div>
        </ion-col>
        <ion-col size="4.5">
          <div *ngIf="eyear?.invalid && (eyear.dirty || eyear.touched)" class="error-message">
            Invalid year
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- End Time -->
    <ion-label class="input-label">End Time</ion-label>
    <ion-row>
      <ion-col class="ion-no-padding" size="2.5">
        <ion-item color="none" class="input" lines="none">
          <ion-input style="text-align: center;" placeholder="HH" inputmode="numeric" #endhh="ngModel"
            (ionChange)="isEndTimeGreaterThanStartTime()" name="ehh" [(ngModel)]="endTime.ehh"
            pattern="^(?:0?[1-9]|1[0-2])$" maxlength="2"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="2.5">
        <ion-item color="none" class="input" lines="none">
          <ion-input style="text-align: center;" placeholder="MM" inputmode="numeric" #endmm="ngModel"
            (ionChange)="isEndTimeGreaterThanStartTime()" name="emm" [(ngModel)]="endTime.emm"
            pattern="^(?:[0-5]?[0-9])$" maxlength="2"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-no-padding">
        <ion-radio-group name="eampm" [(ngModel)]="endTime.eampm" (ionChange)="isEndTimeGreaterThanStartTime()"
          class="display-flex">
          <ion-item lines="none" class="fi-margin-right">
            <ion-radio slot="start" value="AM" class="ion-no-margin"></ion-radio>
            <ion-label class="selected"> &nbsp; AM</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-radio slot="start" value="PM" class="ion-no-margin"></ion-radio>
            <ion-label> &nbsp;PM</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding" size="1"></ion-col>
      <ion-col class="ion-no-padding" size="3">
        <div *ngIf="endhh?.invalid && (endhh.dirty || endhh.touched)" class="error-message">
          Invalid hours
        </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="4">
        <div *ngIf="endmm?.invalid && (endmm.dirty || endmm.touched)" class="error-message">
          Invalid minutes
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="endTimeError.is_show && !(endhh?.invalid && (endhh.dirty || endhh.touched)) && !(endmm?.invalid && (endmm.dirty || endmm.touched))" class="error-message">
      {{endTimeError.message}}
    </div>

    <!-- location -->

    <ion-button style="margin-left: 10px; margin-bottom: 20px; display : table" (click)="openMap()">SET LOCATION</ion-button>

    <!-- address line 1 -->
    <ion-label class="input-label"><ion-note color="danger">*</ion-note>Address line 1</ion-label>
    <ion-item color="none" class="input" lines="none">
      <ion-input autocapitalize="on" placeholder="address line 1" type="text" #AddressLine1="ngModel"
        name="AddressLine1" [(ngModel)]="eventItem.AddressLine1" maxlength="70" required>
      </ion-input>
    </ion-item>
    <div *ngIf="AddressLine1.invalid && (AddressLine1.dirty || AddressLine1.touched)" class="error-message">
      <div *ngIf="AddressLine1.errors?.['required']">
        Event Location is required.
      </div>
    </div>
    <!-- address line 2 -->
    <ion-label class="input-label"> Address line 2</ion-label>
    <ion-item color="none" class="input" lines="none">
      <ion-input autocapitalize="on" placeholder="address line 2" type="text" #AddressLine2="ngModel"
        name="AddressLine2" [(ngModel)]="eventItem.AddressLine2" maxlength="70"></ion-input>
    </ion-item>
    <!-- address line 3 -->
    <!-- <ion-label class="input-label"> Address line 3</ion-label>
    <ion-item color="none" class="input" lines="none">
      <ion-input autocapitalize="on" placeholder="address line 3" type="text" #AddressLine3="ngModel"
        name="AddressLine3" [(ngModel)]="eventItem.AddressLine3" maxlength="30"></ion-input>
    </ion-item> -->

    <!-- images files select -->
    <app-multiple-media-upload style="margin-bottom: 15px;" [mediaFiles]="eventItem.EventImages"
      (filePathEvent)="addMedia($event)"></app-multiple-media-upload>

    <!--  Viewable by -->
    <ion-label class="input-label">Viewable by </ion-label>
    <ion-item color="none" class="input" lines="none" id="viewable-by">
      <ion-label>
        <!-- <h3 *ngIf="eventItem.VisibleTo">{{eventItem.VisibleTo}}</h3> -->

        <h3 *ngIf="eventItem.VisibleTo">{{commonService.getPrivacyFullValue(eventItem.VisibleTo)}}</h3>
        <h3 *ngIf="!eventItem.VisibleTo">select</h3>
      </ion-label>
      <ion-buttons>
        <ion-button shape="round">
          <ion-icon style="font-size: 13px;" name="down-arrow"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- location -->

    <!-- <ion-radio-group name="location" [(ngModel)]="eventItem.location" (ionChange)="getLatlng()">
      <ion-item lines="none" class="ion-no-margin">
        <ion-label class="locationInput">Location:</ion-label>
        <ion-radio value="current"></ion-radio>
        <ion-label style="font-size: 14px;">&nbsp;Current location</ion-label>
        <ng-container *ngIf="logInfo.UserTypeId == appConstants.USER_TYPE.FR_USER">
          <ion-radio value="home"></ion-radio>
          <ion-label style="font-size: 14px;">&nbsp;Home location</ion-label>
        </ng-container>
        <ng-container
          *ngIf="logInfo.UserTypeId == appConstants.USER_TYPE.BN_USER || logInfo.UserTypeId == appConstants.USER_TYPE.NF_USER">
          <ion-radio value="business-location"></ion-radio>
          <ion-label style="font-size: 14px;">&nbsp;Business location</ion-label>
        </ng-container>
      </ion-item>
    </ion-radio-group> -->

    <!-- offset location -->
    <!-- <div style="margin-left: 12px;">
      <ion-item color="none" lines="none" class="ion-no-margin">
        <ion-checkbox name="locationOffset" [(ngModel)]="eventItem.locationOffset"> </ion-checkbox>
        <ion-label>&nbsp; Offset location</ion-label>
      </ion-item>
    </div> -->

    <div style="margin-left: 12px;">
      <ion-item lines="none" class="ion-no-margin">
        <ion-label>Require invite request</ion-label>
        <ion-toggle name="RequireInvite" [(ngModel)]="eventItem.RequireInvite"></ion-toggle>
      </ion-item>
    </div>
    <br>
    <!-- onSubmit -->
    <ion-button [disabled]="!form.valid || startDateError.is_show || startTimeError.is_show || endDateError.is_show || endTimeError.is_show" style="text-transform: none; font-size: 20px; height: 46px; margin-bottom: 8px;" type="submit" expand="block" shape="round" color="primary">
      <span *ngIf="!isEdit">Create</span>
      <span *ngIf="isEdit">Save</span>
    </ion-button>

  </form>

</ion-content>
<ion-popover trigger="viewable-by" [dismissOnSelect]="true" triggerAction="click" mode="ios" alignment="end">
  <ng-template>
    <ion-list>
      <ion-radio-group [value]="eventItem.VisibleTo" [(ngModel)]="eventItem.VisibleTo" (ionChange)="selectedVisibleTo($event)" mode="md">
       
        <ion-item lines="none" *ngFor="let i of privacyTypes">
          <ion-label [ngClass]="{'selected': (eventItem.VisibleTo == i.value)}">{{i.title}}</ion-label>
          <ion-radio slot="start" value="{{i.value}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-template>
</ion-popover>