<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button" slot="start">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="logInfo && logInfo.UserTypeId!=appConstants.USER_TYPE.FR_USER">Connected Members</ng-container>
      <ng-container *ngIf="logInfo && logInfo.UserTypeId===appConstants.USER_TYPE.FR_USER">Connections</ng-container>

      <!-- <ion-text class="title">
        Connected members
      </ion-text> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="loaded">
    <ion-item lines="none" *ngFor="let user of userConnections" (click)="viewProfile(user)">
      <ion-avatar slot="start">
        <img src='{{appConstants.mediaPrefix + user.ProfilePhoto}}' onError="this.src='assets/imgs/male.png'" />
      </ion-avatar>
      <ion-label>
        <h3>{{user.DisplayName}}</h3>
        <p>{{user.UserName}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- skeleton view -->
  <div *ngIf="!loaded">
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="fi-skeleton-text" animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="fi-skeleton-text" animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
