<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loaded">

    <ion-toolbar>
      <ion-text>Sonar</ion-text>
    </ion-toolbar>

    <ion-list>
      <ion-item lines="none">
        <ion-text>
          <h3>Sonar location visible to</h3>
          <p>{{_commonService.getPrivacyFullValue(privacySetting.LocationVisibleTo)}}</p>
        </ion-text>
        <ion-buttons slot="end" (click)="presentPopover($event,'LocationVisibleTo')">
          <ion-button shape="round">
            <ion-icon name="three-dots"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          <h3>Sonar location shown only when logged in</h3>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.LocationShowOnlyWhenLoggedIn"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          <h3>Available for greetings when logged in</h3>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.AvailableForGreetingWhenLoggedIn"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          <h3>Offset sonar location when showing Business Location</h3>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.OffSetLocation"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          <h3>Mobile business</h3>
          <p>Select if your business location changes regularly</p>
        </ion-text>
        <ion-toggle slot="end" [(ngModel)]="privacySetting.IsMobileBusiness"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-list>
          <ion-radio-group [value]="selectedPopoverValue" (ionChange)="radioGroupChange($event)">
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'A'}">All Finitee users</ion-label>
              <ion-radio slot="start" value="A"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'C'}">Connected members</ion-label>
              <ion-radio slot="start" value="C"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label [ngClass]="{selected : selectedPopoverValue == 'O'}">Only me</ion-label>
              <ion-radio slot="start" value="O"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ng-container>

  <ng-container *ngIf="!loaded">
    <ion-list>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="width: 100%;" >
          <ion-skeleton-text style="height:50px;" animated></ion-skeleton-text>
        </ion-text>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<!-- <ion-footer class="create-btn" *ngIf="loaded">
  <ion-button shape="round" expand="block" color="primary" (click)="saveUserPrivacy()">
    Save
  </ion-button>
</ion-footer> -->