<ion-header class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <app-notification-icon></app-notification-icon>
    </ion-buttons>
    <ion-title>Sales Listing</ion-title>
     <ion-buttons slot="end" >
      <ion-menu-button ></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  Active Sales Listing-->
  <ion-segment *ngIf="salesListingService.salesItemList.length > 0 && !loading">
    <ion-text>
      Active
    </ion-text>
  </ion-segment>

  <!-- Active list -->
  <ion-grid>
    <ng-container *ngFor="let i of salesListingService.salesItemList; let j=index">
      <ion-row class="ion-align-items-center" (click)="viewItem(i.Id)" *ngIf="i.daysLeft >= 0">
        <ion-col size="4" >
          <ion-img [src]="appConstants.mediaPrefix+i.SalesItemImages[0]">
          </ion-img>
        </ion-col>
        <ion-col size="8" >
          <ion-card class="ion-no-padding" >
            <ion-card-content>
              <ion-label>
                {{i.Title}}, {{i.Condition}}
              </ion-label>
              <br>
              <ion-label>
               {{currencySymbol}}{{i.Price}}
              </ion-label>
              <ion-label>
                <h5>({{i.daysLeft}} days left)</h5>
              </ion-label>
              <ion-buttons>
                <ion-button class="fi-delete-btn" shape="round" (click)="deleteItem(i) ; $event.stopPropagation();">
                  <ion-icon style="font-size: 13px;" name="delete"></ion-icon>
                </ion-button>
                &nbsp;
                <ion-button class="fi-edit-btn" shape="round" (click)="editItem(i,j) ; $event.stopPropagation();">
                  <ion-icon style="font-size: 13px;" name="edit"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>
  
  <ion-list *ngIf="loading" class="ion-padding" style="margin-top: -20px;"> 
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7]" lines="none">
      <ion-thumbnail slot="start" >
        <ion-skeleton-text style="border-radius: 10px;" [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--  Expired Sales Listing-->
  <ion-segment *ngIf="salesListingService.salesItemList.length > 0">
    <ion-text>
      Expired
    </ion-text>
  </ion-segment>
  <!-- Expired List -->
  <ion-grid>
    <ng-container *ngFor="let i of salesListingService.salesItemList; let j=index">
      <ion-row class="ion-align-items-center" (click)="viewItem(i.Id)" *ngIf="i.daysLeft < 0 && i.daysLeft > -8" >
        <ion-col size="4">
          <ion-img  *ngIf="i.SalesItemImages[0].length>0" [src]="appConstants.mediaPrefix+i.SalesItemImages[0]">
          </ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-card button="true">
            <ion-card-content>
              <ion-label style=" color: #E57676;">
                {{i.Title}}, {{i.Condition}}
              </ion-label>
              <br>
              <ion-label>
                  <h5 style=" color: #E57676;">{{currencySymbol}}{{i.Price}}</h5>
              </ion-label>
              <ion-label>
                <h5 style=" color: #E57676;">(Expired)</h5>
              </ion-label>
              <ion-buttons>
                <ion-button class="fi-delete-btn" shape="round" (click)="deleteItem(i) ; $event.stopPropagation();">
                  <ion-icon style="font-size: 13px;" name="delete"></ion-icon>
                </ion-button>
                &nbsp;
                <ion-button class="fi-edit-btn" shape="round" (click)="editItem(i,j) ; $event.stopPropagation();">
                  <ion-icon style="font-size: 13px;" name="edit"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>

  <!-- skeleton show when items loading -->
  <div *ngIf="salesListingService.salesItemList.length == 0 && !loading" class="ion-text-center nodata"
    style="margin-top: 150px;">
    <img style="margin-top: 20px;" src="assets/imgs/new/NoData.png">
    <h4>You have no sales listings at this time.</h4>
    <h4> Create a sales listing to sell items you are no longer using.</h4>
  </div>

  <br>
  <br>
  <br>
  <br>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  [disabled]="!isShowAddButton" color="primary" (click)="createItem()">
      <ion-icon class="add-post-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!-- temp -->
<!-- <ion-menu contentId="main-content" #menu side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title class="sidebarTitle" size="small">
        {{logInfo.DisplayName}}
      </ion-title>
      <ion-buttons slot="end" (click)="menu.close()">
        <ion-button shape="round">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="appConstants.SIDE_MENU_LIST">
    <ng-container *ngFor="let menuItem of appConstants.SIDE_MENU_LIST">
      <ion-item lines="full" button="true"
        *ngIf="!menuItem.subs && (menuItem.access==0 || menuItem.access==logInfo.UserTypeId)"
        (click)="menuAction(menuItem.pagelink)">
        <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
        <ion-label>{{menuItem.category}}</ion-label>
      </ion-item>
      <ion-accordion-group *ngIf="menuItem.subs && (menuItem.access==0 || menuItem.access==logInfo.UserTypeId)">
        <ion-accordion>
          <ion-item slot="header">
            <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
            <ion-label>{{menuItem.category}}</ion-label>
          </ion-item>
          <div slot="content" class="sub-menu">
            <ion-item lines="full" button="true" *ngFor="let subItem of menuItem.subs"
              (click)="menuAction(subItem.pagelink)">
              <ion-icon [name]="subItem.icon" slot="start"></ion-icon>
              <ion-label>{{subItem.subcategory}}</ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-item lines="none" button="true" (click)="logoutConfirmation()">
        <ion-icon name="right-menu-logout" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-menu> -->