#map_canvas {
    height: 100% !important;
    width: 100% !important;
}

.backicon {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 9;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.5882352941176471);
    box-shadow: 1px 4px 9px rgba(11, 10, 10, 0.18);
    border-radius: 50%;
    text-align: center;
}

.fixx {
    position: fixed;
    bottom: 0px;
    height: 55px;
    background: white;
}

.searchclass {
    margin-top: -68px;
    border-radius: 50%;
    background: #03a9f5;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.23137254901960785);
}

span.dot {
    right: 8px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #f14c99;
    border-radius: 10px;
    top: 11px;
    z-index: 99;
}

.pgm-html-info-content-frame {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

// #map_canvas:before {
//   // content: "";
//   // position: absolute;
//   // background-image: linear-gradient(
//   //   rgba(40, 38, 38, 0.18) 0px,
//   //   rgba(255, 255, 255, 0) 78px,
//   //   rgba(0, 0, 0, 0.06) 80%,
//   //   rgba(0, 0, 0, 0.28)
//   // );
//   // width: 100%;
//   // height: 100%;
//   // z-index: 1;
//   // touch-action: none;
//   // pointer-events: none;
// }

ion-fab-list {
    button {
        width: 75px;
    }
}

ion-footer {
    text-align: center;

    ion-title span {
        font-size: 14px;
    }
}

// @-webkit-keyframes highlight {
@keyframes highlight {
    0% {
        opacity: 1;
        //background-color: yellow;
    }

    22% {
        //background-color: #444;
    }

    77% {
        background-color: yellow;
    }

    100% {
        //background-color: #777;
    }
}

.highlight {
    //color: #cb265e;
    animation-name: highlight;
    animation-duration: 900ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: highlight;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.permission-message {
    position: absolute;
    left: 0;
    top: 43%;
    text-align: center;
    margin: 0 auto;
    right: 0;
    padding: 20px;
    font-size: 14px;
}

.icons-list {
    position: absolute;
    bottom: 23px;
    width: 62px;
    z-index: 9;
    right: 11px;
    text-align: center;
}

.listslide ion-card {
    width: 160px;
    display: inline-block !important;

    ion-item {
        --padding-start: 7px;

        h4 {
            color: black;
            font-weight: 500;
        }
    }

    ion-avatar {
        height: 45px;
        width: 45px;
        background: #eee;
    }
}

.topcl {
    position: absolute;
    top: 12px;
    width: auto;
    z-index: 99;
    text-align: right;
    right: 0;
}

.listslide ion-card {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07058823529411765);
    background: white;
    margin: 0px 10px;
}

.img-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.buttonlist {
    display: flex;
}

.buttonlist ion-fab-button {
    margin: 0px 10px;
    width: 43px;
    height: 43px;
    --background: transparent;
    --box-shadow: none;
    --padding-start: 0px;
    --padding-end: 0px;

    img {
        height: 25px;
        width: auto;
    }
}

.map-fab-button {
    display: inline-block;
    --background: white;
    --box-shadow: 2px 2px 7px #0b113157;
    width: 44px;
    height: 44px;
    --color: black !important;
    --border-radius: 23px;
}

.map-fab-button2 {
    --background: rgb(255, 255, 255);
    margin: auto;
    height: 44px;
    --background-hover: var(--ion-color-primary);
    width: 44px;
    --box-shadow: 2px 2px 7px #0b113157;
}

.badge-count {
    position: absolute;
    z-index: 9;
    right: 0;
    top: -0.5em;
}

.horizontal-line {
    width: 100%;
}

.results {
    margin-right: 15px;
}

.fab-container {
    min-width: 145px;
    position: absolute;
    left: 5px;
    z-index: 9;
    top: 10px;
}

::ng-deep .gm-style .gm-style-iw-c button {
    display: none !important;
}

a {
    cursor: pointer;
    margin: 8px;

    .icon-40 {
        height: 40px !important;
        width: 40px !important;
    }
}

.ref-container {
    position: absolute;
    left: 156px;
    z-index: 9;
    top: 10px;
}

.c-fab-button {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 5vh;
    background: white;
    box-shadow: 2px 2px 7px #0b113157;
    border-radius: 20px;
    padding-left: 1rem;
}

.top-result-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    gap: 10px;
    z-index: 5;
    font: normal normal normal 18px/29px SF Pro Display;
    letter-spacing: 0.29px;
    color: #0B1131;
}

.user-flam-icon {
    --background: white;
    width: 40px;
    height: 40px;
}

.user-flam-icon {
    --background: white;
    width: 40px;
    height: 40px;
}

.janvi {
    height: 100%;
    position: relative;
    overflow-y: visible;
    z-index: auto;
    --background:#F6F6F6;
}





ion-modal>.ion-page {
    position: relative;
    contain: layout style;
    height: 100%;
    overflow: visible;
    margin-top: 50px;
    --background:#F6F6F6;
}

:host(.modal-sheet) .modal-wrapper,
:host(.modal-sheet) .modal-shadow {
    position: relative;
    bottom: 0px;
    overflow: visible;

}

/* app-marker-detail.component.scss */

:host {
    display: block;
    overflow: visible !important;
}

.your-ionic-modal-class {
    overflow: visible !important;
}

.modal-wrapper {
    overflow: visible !important;
}

.custom-modal .modal-wrapper {
    overflow: visible !important;
}

//   ::ng-deep ion-modal { 
//     --height: 320px; 
//     margin-top: 500px; 
//     border-radius: 50px 50px 0 0;
//   }  
::ng-deep ion-modal {
    --overflow: visible;
}

:host(.modal-sheet) .modal-wrapper,
:host(.modal-sheet) .modal-shadow {
    position: absolute;
    bottom: 0px;

}


.custom-modal {
    --overflow: visible;
    --border-radius: 25px;
    --background:#F6F6F6;
 
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


.modal-wrapper button{
    z-index: 0 !important;
}

.custom-modal button {
    --z-index: 0 !important;
}
.custom-modal .modal-handle {
    display: none;
  }

  @media (min-width: 768px){
    .custom-modal {
        --overflow: visible;
    

    }
    .custom-modal>.ion-page {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 50px;
    }
    
  }
  .custom-modal .ion-page{
   margin-top: 50px;
 }
 
//  ion-content{
//         --border-radius: 100px 10px 0 0;
//     }

.ion-overlay-wrapper{
    --background:#680d0d !important;
}

ion-modal {
    --overflow: visible;
    --background: #F6F6F6;
}

.map-marker-icon {
    border-radius: 50%; /* Add other styles as needed */
}

.price-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
}
  
.price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

.property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
}
  
.property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
}

.normal-case {
    text-transform: none !important;
  }

