<!-- <ion-spinner *ngIf="!imageLoaded && !timeOutCompleted" class="spinner"></ion-spinner>
<div *ngIf="type == 'PE'">
  <img-loader class="profileSize" appFullPhoto [src]="_src" [imgAttributes]="imageAttributes" [useImg]="true"
    (load)="_imageLoaded($event)">
  </img-loader>
</div>
<div *ngIf="type == 'SI'">
  <img-loader class="profileSize" appFullPhoto [src]="_src" [imgAttributes]="imageAttributes" [useImg]="true"
    (load)="_imageLoaded($event)">
  </img-loader>
</div>
<div *ngIf="type == 'AV'">
  <img-loader class="avatarSize" [src]="configUrl + _src" [imgAttributes]="imageAttributes"
    (load)="_imageLoaded($event)"></img-loader>
</div>
<div *ngIf="type == 'CM'">
  <img-loader class="commSize" [src]="configUrl + _src" [imgAttributes]="imageAttributes" (load)="_imageLoaded($event)">
  </img-loader>
</div>
<div *ngIf="type == 'TM'">
  <img-loader class="timeline" [src]="configUrl + _src" [imgAttributes]="imageAttributes" (load)="_imageLoaded($event)">
  </img-loader>
</div>
<div *ngIf="type == 'RC'">
  <img-loader class="replySize" [src]="configUrl + _src" [imgAttributes]="imageAttributes"
    (load)="_imageLoaded($event)"></img-loader>
</div>
<div *ngIf="type == 'EV'">
  <img-loader class="eventImage" [src]="configUrl + _src" [useImg]="true" (load)="_imageLoaded($event)"></img-loader>
</div>
<div *ngIf="type == 'IN'">
  <img-loader class="inviteImage" [src]="configUrl + _src" [useImg]="true" (load)="_imageLoaded($event)"></img-loader>
</div>
<div *ngIf="type == 'FR'">
  <img-loader class="userImg" *ngIf="_src == 'men.jpeg' || _src == 'women.jpeg'" [src]="configUrl + _src"
    [useImg]="true" (load)="_imageLoaded($event)"></img-loader>
  <img-loader class="friendImage" *ngIf="_src != 'men.jpeg' && _src != 'women.jpeg'" [src]="configUrl + _src"
    [useImg]="true" (load)="_imageLoaded($event)"></img-loader>
</div>
<div *ngIf="type == 'PO'">
  <img-loader class="postImage" [src]="_src" [useImg]="true" [imgAttributes]="imageAttributes"
    (load)="_imageLoaded($event)">
  </img-loader>
</div>
<div *ngIf="type == 'COM'">
  <img-loader class="comImage" [src]="_src" [useImg]="true" (load)="_imageLoaded($event)"></img-loader>
</div> -->