<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Invite to view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-list class="display-flex ion-justify-content-between">
      <ion-item lines="none">
        <ion-avatar slot="start" class="display-flex ion-justify-content-center ion-align-items-center">
          <ion-img src="https://finitee.sgp1.digitaloceanspaces.com/{{paramsData.selectedPost.CreatedBy.ProfileImage}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3 class="display-flex ion-align-items-center">
            {{paramsData.selectedPost.CreatedBy.DisplayName}}
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-segment>

  <div class="post">
    <p>{{paramsData.selectedPost.PostDescription}}</p>
    <ion-slides *ngIf="paramsData.selectedPost.PostImages && paramsData.selectedPost.PostImages.length>0">
      <ion-slide *ngFor="let postImage of paramsData.selectedPost.PostImages">
        <ion-img src="https://finitee.sgp1.digitaloceanspaces.com/{{postImage}}"></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-card *ngIf="paramsData.selectedPost.PostImages && paramsData.selectedPost.PostImages.length==0" class="descriptionPost bg5">
      <h3> {{paramsData.selectedPost.PostDescription}}</h3>
    </ion-card>
  </div>

  <ion-list *ngIf="loaded">
    <ion-item lines="none" *ngFor="let data of userConnections">
      <ion-checkbox slot="start" (click)="handleCheckboxChange(data.UserId)"></ion-checkbox>
      <ion-avatar slot="start">
        <img src='https://finitee.sgp1.digitaloceanspaces.com/{{data.ProfilePhoto}}'
          onError="this.src='assets/imgs/male.png'" />
      </ion-avatar>
      <ion-label class="checked">{{data?.DisplayName}}</ion-label>
      <ion-label class="checked">{{data?.UserName}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button expand="block" color="primary" shape="round" (click)="inviteToViewPost()">Send</ion-button>
</ion-footer>
