<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card">
          <div class="first-section">
            <ion-icon
              src="assets/custom-ion-icons/md-referbusiness.svg"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Recommend</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card">
          <div class="first-section">
            <ion-icon
              src="assets/custom-ion-icons/md-reportbusiness.svg"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Report</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card">
          <div class="first-section">
            <ion-icon
              src="assets/custom-ion-icons/md-blockbusiness.svg"></ion-icon>
          </div>
          <div class="second-section ion-text-center">
            <ion-card-title>Block</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
