
ion-popover {
    --max-width: 183px;
  
  
    ion-text {
      padding: 10px 10px 0;
      font: normal normal normal 16px/26px SF Pro Display;
      letter-spacing: 0.25px;
      color: #285078;
      text-align: center;
    }
  
    ion-list {
      ion-radio-group {
        ion-item {
          --background: none;
          --background-hover: none;
          --ripple-color: transparent;
          margin-bottom: 0;
          --min-height: 25px;
  
          ion-label {
            font: normal normal normal 14px/24px SF Pro Display;
            letter-spacing: 0.22px;
  
            color: #A8A8A8;
  
            &.selected {
              color: #03A9F5;
            }
  
            margin: 0;
          }
  
          ion-radio {
            width: 18px;
            height: 18px;
            margin: 0 5px 0 15px;
            --color: #ddd;
            --color-checked: #03A9F5;
          }
        }
      }
  
    }

    .shoppingword{
      width: 394px;
height: 48px;
/* UI Properties */
background: #F0F5F7 0% 0% no-repeat padding-box;
border: 1px solid #70707033;
border-radius: 11px;
opacity: 1;
    }

  .title_toshopping{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-13)/24px var(--unnamed-font-family-sf-pro-display);
letter-spacing: var(--unnamed-character-spacing-0-21);
text-align: left;
font: normal normal 600 13px/24px SF Pro Display;
letter-spacing: 0.21px;
color: #0B1131;
opacity: 1;
  }

.item .sc-ion-label-md-h{
  margin-left: 10px !important;
}
ion-list-header.sc-ion-select-popover-md, ion-label.sc-ion-select-popover-md {
  margin-left: 10px !important;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}




  
  }
  ion-item.sc-ion-select-popover-md {
    --inner-border-width: 0;
    margin-bottom: 0px !important;
}

  