.login-main {
  padding: 10px;

  .logo-img {
    width: 83px;
    height: 68px;
    margin: auto;
    display: block;
    margin-top: 30px;
  }

  .img2 {
    width: 154px;
    height: 113px;
    margin: auto;
    display: block;
    margin-top: 27px;
  }

  h3 {
    margin-top: 20px;
    text-align: center;
    font: normal normal 600 20px/18px SF Pro Display;
    letter-spacing: 0.32px;
    color: #758EA8;
    opacity: 1;
  }

  p {
    text-align: center;
    font: normal normal normal 19px/21px SF Pro Display;
    letter-spacing: 0.27px;
    color: #788692;
    opacity: 1;
  }

  .lgn-button {
    width: 100%;
    margin: auto;
    display: block;
    --border-radius: 26px;
    height: 53px;
    margin-top: 60px;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #ffffff;
  }
  .lgn-class , .lgn-class2{
    font-size: 18px;
    width: 95%;
height: 53px;
    margin-left: 10px;
    margin-right: 10px;
   
  }

  .lgn-class2{
    margin-top: 35px;
  }



  .label {
    text-align: left;
    font: normal normal normal 20px/26px SF Pro Display;
    letter-spacing: 0.29px;
    color: #A8A8A8;
    opacity: 1;
    padding-bottom: 9px;
  }
  ion-label {
    span{
      p{
        font: normal normal normal 18px/20px SF Pro Display;
        letter-spacing: 0.22px;
        color: #788692;
        opacity: 1;
        word-break: break-word;
        white-space: break-spaces;
        text-align: start;
      }
    }
  }
  ion-radio {
    margin-inline-end: 8px;
  }
  ion-radio-group{
    ion-item{
      align-items: start;
      display: flex;
    }
    ion-radio::part(container){
      margin-top: 4px;
    }
    .selected{
      color: #03A9F5;
   }
  }
  // ion-list{
  //   ion-item{
  //     ion-select{

  //     }
  //   }
  // }
  .heading {
    font-size: 24px;
    text-align: center;
    color: #285078;
    letter-spacing: 0.38px;
    opacity: 1;
    margin-top: 12%;

  }

  .subheading {
    font-size: 20px;
    letter-spacing: 0.32px;
    color: #788692;
    opacity: 1;
    white-space: pre-line;
  }

  .bsname {
    margin-top: 30%;
  }

  .flagselect {
    height: 53px;
    background: #F0F5F7;
    color: #A8A8A8;
    border-radius: 11px;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    width: 20%;
  }

  .phninpt {
    height: 53px;
    margin-left: 10px;
    background: #F0F5F7;
    color: #A8A8A8;
    border-radius: 11px;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

  }

  .tc {
    text-align: center;
    letter-spacing: 0.22px;
    opacity: 1;
    white-space: pre-line;
  }
  .emailsvg{
    margin-top: 20%;
    align-items: center;
    width: auto;
    height: 94px;
    display: flex;
  }
  .backicon {
    width: 24px !important;
    height: 24px !important;
    margin-left: 3%;
    margin-top: 3% !important;
    position: absolute !important;
  }
  .subheading2{
    text-align: center;
    font: normal normal normal 19px/20px SF Pro Display;
    letter-spacing: 0.27px;
    color: #788692;
    opacity: 1;
  }
  .newlink{
    letter-spacing: 0.25px;
    color: #285078;
    opacity: 1;
    font: normal normal bold 18px/26px SF Pro Display;
  }
  .center-button {
    align-self: center;
    display: block;
    margin: auto;
    width: 264px;
  }


.box-opener {
  background-color: #f1e0b8;
  border: 1px solid #ffcc55;
  cursor: pointer;
  padding: 16px;
  user-select: none;
}

.box {
  background-color: #ffcc55;
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
}

.box.opened {
  max-height: 1000px;
  transition: ease-in-out 600ms max-height;
}

.box1 {
  background-color: #ffcc55;
  max-width: 0px;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.box1.opened {
  max-width: 1000px;
  transition: ease-in-out 600ms max-width;
}

}

ion-button.select-style {
  height: 53px;
  --color: #285078;
  --border-radius: 11px;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
  width: 100%;
  fill: none;
  --background: #F0F5F7;
  --background-hover: #F0F5F7;
  --background-activated: #F0F5F7;
  --background-focused: #F0F5F7;
}

.select-style span {
  font-size: 20px;
  // position: absolute;
  // margin-left: 0px;
  // width: 100%;
}
.select-style span.placeholder {
    color: #afbece;
}

ion-modal {
  --border-radius: 0px;
  color: black !important;

  .datetime-selected-date {
    margin-top: 10px !important;
    font-size: 24px !important;
  }

  &.center {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 70%;
    //width: 80%;

    transform: translate(-55%, -55%);
    color: black !important;

  }
}
ion-popover {
  --max-width: 183px;


  ion-text {
    padding: 10px 10px 0;
    font: normal normal normal 18px/28px SF Pro Display;
    letter-spacing: 0.25px;
    color: #285078;
    text-align: center;
  }

  ion-list {
    padding: 20px;
    ion-radio-group {
      ion-item {
        --background: none;
        --background-hover: none;
        --ripple-color: transparent;
        margin-bottom: 0;
        --min-height: 25px;

        ion-label {
          font: normal normal normal 14px/24px SF Pro Display;
          letter-spacing: 0.22px;

          color: #A8A8A8;

          &.selected {
            color: #03A9F5;
          }

          margin: 0;
        }

        ion-radio {
          width: 18px;
          height: 18px;
          margin: 5px;
          --color: #ddd;
          --color-checked: #03A9F5;
        }
      }
    }

  }

}
.line-container {
  display: flex;
  align-items: center;
  color: #999999;
  margin: 30px;
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #999999; /* Set your desired color here */
  }
  .or-text {
    margin: 0 10px; /* Adjust the margin as needed */
  }
}
.fi-inputSelect{
  ion-icon{
    font-size: 17px;
    color: #A8A8A8;
  }
}
ion-item.fi-inputSelect::part(native){
    background: #f0f5f7;
    padding-right: 13px;
    border-radius: 11px;
    margin: 0px 8px;
    width: calc(100vw - 39px);
}
.fi-error-msg{
  padding-left: 14px;
}
ion-popover::part(arrow){
  z-index: 11;
  ::after{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
ion-popover::part(content){
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ion-popover::part(backdrop){
  background: none;
}
