<ion-content>
  <div class="login-main">

    <!-- <ion-icon class="backicon" *ngIf="step!==1" name="chevron-back-outline" (click)="back()"></ion-icon> -->
    <ion-icon class="backicon" name="chevron-back-outline" (click)="back()"></ion-icon>
    <ion-icon class="logo-img" src="assets/images/login1.svg"></ion-icon>

    <ng-container *ngIf="step==REG_STEP.CHOOSE_ACC">

      <!-- <div class="box1" [class.opened]="step==REG_STEP.CHOOSE_ACC"> -->
      <ion-icon class="img2" src="assets/images/register1.svg"></ion-icon>
      <h3>Please choose your account type</h3>
      <p>Your account choice is permanent</p>
      <ion-radio-group [value]="AppConstants.USER_TYPE.FR_USER" (ionChange)="userType($event)">
        <ion-item>
          <ion-radio [value]="AppConstants.USER_TYPE.FR_USER"></ion-radio>
          <ion-label [class.selected]="selectedUserType == 1" class="label">Individual registration<span>
              <p>
                You are an individual and do not have products and services to
                promote
              </p>
            </span></ion-label>
        </ion-item>
        <ion-item>
          <ion-radio [value]="AppConstants.USER_TYPE.BN_USER"></ion-radio>
          <ion-label [class.selected]="selectedUserType == 2" class="label">Business registration<span>
              <p>You are a business with products and services to promote</p>
            </span></ion-label>
        </ion-item>
        <ion-item>
          <ion-radio [value]="AppConstants.USER_TYPE.NF_USER"></ion-radio>
          <ion-label [class.selected]="selectedUserType == 3" class="label">Non-profit registration<span>
              <p>You are a registered nonprofit</p>
            </span></ion-label>
        </ion-item>
      </ion-radio-group>
      <ion-button color="primary" class="lgn-button" (click)="chooseActType()">Choose account type</ion-button>
      <!-- </div> -->

    </ng-container>

    <ng-container *ngIf="step==REG_STEP.NAME">
      <h2 class="heading">Let's get started</h2>
      <!-- <ion-modal #selectGenderModal trigger="selectGender" [backdropDismiss]="true" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <app-select-searchable [inputData]="genderSelect" (onSelectSearchableCancel)="selectGenderModal.dismiss()" (onSelectSearchableSubmit)="onGenderSelected($event)"></app-select-searchable>
        </ng-template>

      </ion-modal> -->
      <form [formGroup]="nameForm" (ngSubmit)="saveNameDetails()">
        <p class="subheading">Please enter you name & gender</p>
        <ion-list>
          <ion-item lines="none">
            <ion-input class="input" autocapitalize="words" placeholder="First Name"
              formControlName="fname"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input class="input" autocapitalize="words" placeholder="Last Name" formControlName="lname"></ion-input>
          </ion-item>
          <ion-item lines="none" id="open-gender-popup" class="item-selection">
            <ion-input class="input" placeholder="Gender" [value]="genderInputValue" id="selectGender"
              readonly></ion-input>
          </ion-item>
          <ion-popover trigger="open-gender-popup" [dismissOnSelect]="true" triggerAction="click" mode="ios"
            alignment="end">
            <ng-template>
              <ion-list>
                <ion-radio-group value="{{seletedGender}}" (ionChange)="selectedGender($event)" mode="md">
                  <ion-item lines="none">
                    <ion-label>Male</ion-label>
                    <ion-radio slot="start" value="1"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Female</ion-label>
                    <ion-radio slot="start" value="2"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Other</ion-label>
                    <ion-radio slot="start" value="3"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ng-template>
          </ion-popover>
        </ion-list>
        <ion-button class="lgn-class" expand="block" shape="round" [disabled]="nameForm.invalid"
          type="submit">Continue</ion-button>
      </form>
    </ng-container>

    <ng-container *ngIf="step==REG_STEP.BIRTHDAY">
      <div class="bsname">
        <!-- <h2 class="heading">Let's get started</h2> -->
        <p class="subheading">Hi {{currentUser.FirstName}}, when's your
          birthday?</p>
        <!-- <ion-list>
        <ion-item lines="none"> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input #inputDOBDay class="dob-input" type="text" inputmode="numeric" min="1" max="31" maxlength="2"
                placeholder="DD" [(ngModel)]="inputDOB.day" (ionChange)="onChangeDOB($event,'dd')"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #inputDOBMonth class="dob-input" type="text" inputmode="numeric" min="1" max="12" maxlength="2"
                placeholder="MM" [(ngModel)]="inputDOB.month" (ionChange)="onChangeDOB($event, 'MM')"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input #inputDOBYear class="dob-input" type="text" inputmode="numeric" min="1900"
                max="maxDate.getFullYear()" maxlength="4" placeholder="YYYY" [(ngModel)]="inputDOB.year"
                (ionChange)="onChangeDOB($event, 'yyyy')"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-input #inputDOBDay class="dob-input" type="text" inputmode="numeric" min="1" max="31" maxlength="2" placeholder="DD" [(ngModel)]="inputDOB.day" (ionChange)="onChangeDOB($event,'dd')" ></ion-input>
            <span slot="error">Please enter a valid birthday</span>
            <ion-input #inputDOBMonth class="dob-input" type="text" inputmode="numeric" min="1" max="12" maxlength="2" placeholder="MM" [(ngModel)]="inputDOB.month" (ionChange)="onChangeDOB($event, 'mm')"></ion-input>
            <ion-input #inputDOBYear class="dob-input" type="text" inputmode="numeric" min="1900" max="maxDate.getFullYear()" maxlength="4" placeholder="YYYY" [(ngModel)]="inputDOB.year" (ionChange)="onChangeDOB($event, 'yy')" ></ion-input>
           -->

        <!-- </ion-item>
      </ion-list> -->
        <span *ngIf="inputDOB.showDOBError>0 && inputDOB.enteredDOBFormatted.length > 0" style="color: red;"
          slot="error">{{inputDOB.errorMsg}}</span>
        <!--Manoj TODO Change Style-->
        <ion-button expand="block" class="lgn-class" shape="round"
          [disabled]="!(!inputDOB.showDOBError && currentUser.DateOfBirth.length > 0)"
          (click)="freeUserDob()">Continue</ion-button>

        <!--<ion-input #inputDOBMonth class="dob-input" type="number" maxlength="2" placeholder="MM" [(ngModel)]="inputDOB.month" (ionChange)="onChangeDOB($event, 'mm')" id="date-picker"></ion-input>
      <ion-modal #modal trigger="date-picker" class="center" [backdropDismiss]="true">
        <ng-template>
          <ion-datetime  [value]="currentUser.DateOfBirth" (ionChange)="changeDOB($event, modal)" presentation="date" [max]="maxDOBDate">
            <span slot="title">Date of birth</span>
          </ion-datetime>
        </ng-template>
      </ion-modal>-->
      </div>
    </ng-container>

    <ng-container *ngIf="step==REG_STEP.PHONE_NO">
      <div class="bsname">
        <p class="subheading">Please enter your phone number</p>
        <ion-modal #selectCountryModal trigger="selectCountryCode" [backdropDismiss]="true" class="search-modal">
          <!-- <ng-template>
            <ion-datetime presentation="date" [showDefaultButtons]="true" color="primary">
              <span slot="title">Start Date</span>
            </ion-datetime>
          </ng-template> -->
          <ng-template>
            <app-select-searchable [inputData]="countrySearchableInput"
              (onSelectSearchableCancel)="onSelectCountryModalDismiss($event)"
              (onSelectSearchableSubmit)="onCountrySelected($event)">
            </app-select-searchable>
          </ng-template>

        </ion-modal>
        <form [formGroup]="phoneForm" (ngSubmit)="submitPhone()">
          <!-- <ion-list> -->

          <ion-item lines="none">
            <ion-button class="fi-countryCode-btn" fill="outline" type="button" id="selectCountryCode">
              <ion-img slot="start" class="icon-small"
                src="{{placesService.getFlagIconPath(selectedCountry)}}"></ion-img>&nbsp;&nbsp;
              +{{selectedCountry?.PhoneCode}}
              <ion-icon slot="end" name="caret-down-outline"></ion-icon>
            </ion-button>
            <!-- <ion-select class="flagselect" formControlName="countryId" placeholder="+91" id="selectCountryCode"> -->
            <!-- <ion-select-option *ngFor="let country of placesService.countries"

            <ion-item lines="none">
              <ion-button class="fi-countryCode-btn" fill="outline" type="button" id="selectCountryCode">
                <img slot="start" class="icon-small" src="{{placesService.getFlagIconPath(selectedCountry)}}"
                 />&nbsp;&nbsp;
                +{{selectedCountry?.PhoneCode}}
                <ion-icon slot="end" name="caret-down-outline" ></ion-icon>
              </ion-button>
              <!-- <ion-select class="flagselect" formControlName="countryId" placeholder="+91" id="selectCountryCode"> -->
            <!-- <ion-select-option *ngFor="let country of placesService.countries"

                  [value]="country.CountryId">+{{country.PhoneCode}}</ion-select-option> -->
            <!-- <ion-select-option value="apples">+91</ion-select-option>
              <ion-select-option value="oranges">+01</ion-select-option>
              <ion-select-option value="bananas">+02</ion-select-option> -->
            <!-- </ion-select> -->
            <ion-input class="phninpt" type="number" placeholder="Phone Number" formControlName="phoneNo"
              (ionChange)="onUserInputChange($event, 'PhoneNumber')"></ion-input>
            <span slot="error">{{errorMsgGrp.phone}}</span>
          </ion-item>
          <!-- </ion-list> -->
          <p class="tc" style="margin: 0px 20px 0px 20px; margin-bottom: 15px; font-weight: 200; color:	#A8A8A8;">By
            tapping "Continue", you agree to our <br>
            <a style="text-decoration: underline;
            font: normal normal 100 17px/22px SF Pro Display;
            letter-spacing: 0.22px;
            color: #505050; font-weight: 300; margin-top: 40px;" [routerLink]="['/terms-conditions']">Community
              Guidelines ,</a> <a style="text-decoration: underline;
            font: normal normal 100 17px/22px SF Pro Display;
            letter-spacing: 0.22px;
            color: #505050; font-weight: 300; margin-top: 40px;" [routerLink]="['/terms-conditions']">Privacy
              Policy</a> and <a style="text-decoration: underline;
            font: normal normal 100 17px/22px SF Pro Display;
            letter-spacing: 0.22px;
            color: 	#505050; font-weight: 300; margin-top: 40px;" [routerLink]="['/terms-conditions']">Terms of
              Service</a>.
          </p>
          <ion-button class="lgn-class2" expand="block" shape="round" [disabled]="phoneForm.invalid"
            type="submit">Continue</ion-button>
        </form>
      </div>
    </ng-container>

    <ng-container *ngIf="step==REG_STEP.PHONE_OTP || step==REG_STEP.EMAIL_VERIFY">
      <div class="bsname">
        <p *ngIf="step==REG_STEP.PHONE_OTP" class="subheading">Please enter the
          code we sent on your phone. (Valid for 5 mins)</p>
        <p *ngIf="step==REG_STEP.EMAIL_VERIFY" class="subheading">Please enter
          the code we sent on your email. (Valid for 10 mins)</p>
        <ion-item lines="none">
          <ng-otp-input #phoneOTPInputComp class="otp-input" [config]="{length:6}"
            (onInputChange)="otpInputChange($event)"></ng-otp-input>
        </ion-item>
        <!-- <ion-label class="underline-text">Change phone number</ion-label> -->
        <ion-button expand="block" fill="clear" (click)="back()">{{getChangeNumberEmailButtonLabel()}}</ion-button>
        <ion-button class="lgn-class" expand="block" shape="round" (click)="resendOTP()"
          [disabled]="otpTimer.secs > 0">Resend
          OTP{{otpTimer.msg}}</ion-button>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.EMAIL">
      <div class="bsname">
        <p class="subheading">Please enter your email</p>
        <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
          <ion-item lines="none">
            <ion-input class="input" placeholder="Email" formControlName="email" type="email" name="email"
              (ionChange)="onUserInputChange($event, 'Email')"></ion-input>
            <span slot="error">{{errorMsgGrp.email}}</span>
          </ion-item>
          <ion-button class="lgn-class2" expand="block" [disabled]="emailForm.invalid" shape="round"
            type="submit">Continue</ion-button>
        </form>
      </div>

    </ng-container>
    <ng-container *ngIf="step==REG_STEP.EMAIL_VERIFYOLD">
      <!-- <div class="bsname"> -->
      <ion-img class="emailsvg" src="assets/images/email.svg"></ion-img>
      <h2 class="heading">E-mail verification</h2>
      <p class="subheading2">A link has been sent to verify your e-mail address
        please select the link in your e-mail to
        continue</p>
      <ion-button expand="block" shape="round" (click)="goToLogin()">Sign in
        with different account</ion-button>
      <ion-button expand="block" fill="clear" (click)="resendNewLink()">Send a
        new link</ion-button>
      <ion-button expand="block" fill="clear" (click)="userVerifiedEmailLink()">Link already verfied?</ion-button>

      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.PASSWORD">
      <div class="bsname">
        <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
          <p class="subheading">Please enter a secure password</p>
          <ion-item lines="none">
            <ion-input class="input" type="password" placeholder="Password" formControlName="password1"></ion-input>
            <span slot="error">Password should be min 8 chars with atleast one
              small letter, capital letter, number & a special character</span>
          </ion-item>
          <ion-item lines="none">
            <ion-input class="input" type="password" placeholder="Confirm Password"
              formControlName="password2"></ion-input>
            <span slot="error" *ngIf="passwordForm.controls['password2'].value.length > 0 ">Passwords do not
              match</span>
          </ion-item>
          <ion-button class="lgn-class" expand="block" shape="round" [disabled]="passwordForm.invalid"
            type="submit">Continue</ion-button>
        </form>

      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.BUSINESS_REG">
      <div class="bsname">
        <p class="subheading">Please enter your business’s name</p>
        <ion-item lines="none">
          <ion-input class="input" placeholder="Business Name" [(ngModel)]="currentUser.DisplayName"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="currentUser.DisplayName.length < AppConstants.MIN_COMPANY_NAME_LENGTH"
          shape="round" (click)="setBOName()">Continue</ion-button>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.NONPROFIT_REG">
      <div class="bsname">
        <p class="subheading">Please enter your nonprofit's name</p>
        <ion-item lines="none">
          <ion-input class="input" placeholder="Nonprofit Name" [(ngModel)]="currentUser.DisplayName"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="currentUser.DisplayName.length < AppConstants.MIN_COMPANY_NAME_LENGTH"
          shape="round" (click)="setNPName()">Continue</ion-button>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.USERNAME">
      <div class="bsname">
        <form [formGroup]="usernameForm" (ngSubmit)="checkUsernameExist()">
          <p class="subheading">Please create a Username</p>
          <ion-item lines="none">
            <ion-input class="input" placeholder="Username" (ionChange)="onUserInputChange($event, 'Username')"
              formControlName="username"></ion-input>
            <span slot="error">{{checkedUsername.errorMsg}}</span>
            <!-- <span *ngIf="!checkedUsername.valid" slot="error">{{checkedUsername.errorMsg}}</span> -->
          </ion-item>
          <!-- <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha> -->
          <ion-button class="lgn-class" expand="block" shape="round" [disabled]="usernameForm.invalid"
            type="submit">Continue</ion-button>
          <!--<ion-button expand="block" shape="none" (click)="skipUsername()">Do it later</ion-button>
        <ion-label class="underline-text">Do it later</ion-label>-->
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.ADDRESS">
      <div>
        <ion-modal class="search-modal" #pinLocationModal trigger="pinLocation" [backdropDismiss]="true">
          <ng-template>
            <app-pin-location [inputLocation]="pinnedLocation" (onPinLocationCancel)="onPinLocationCancel($event)"
              (onPinLocationSubmit)="onPinLocationSubmit($event)"></app-pin-location>
          </ng-template>
        </ion-modal>
        <ion-modal #selectStateModal trigger="selectState" [backdropDismiss]="true" class="search-modal">
          <ng-template>
            <app-select-searchable [inputData]="stateSearchableInput"
              (onSelectSearchableCancel)="onSelectStateModalDismiss($event)"
              (onSelectSearchableSubmit)="onStateSelected($event)"></app-select-searchable>
          </ng-template>
        </ion-modal>
        <ion-modal #selectCityModal trigger="selectCity" [backdropDismiss]="true" class="search-modal">
          <ng-template>
            <app-select-searchable [inputData]="citySearchableInput"
              (onSelectSearchableCancel)="onSelectCityModalDismiss($event)"
              (onSelectSearchableSubmit)="onCitySelected($event)"></app-select-searchable>
          </ng-template>
        </ion-modal>
        <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">

          <p class="subheading">{{getAddressLabel()}}</p>
          <p class="tc" style="font: var(--unnamed-font-style-normal) normal 300 16px/18px var(--unnamed-font-family-sf-pro-display);
          text-align: center;
          font: normal normal 300 16px/18px SF Pro Display;
          letter-spacing: 0.22px;
          color: #788692; padding: 0px 25px 0px 25px;" *ngIf="selectedUserType == AppConstants.USER_TYPE.FR_USER">Your
            home
            location details will not be
            shared with any other user</p>
          <p class="tc" style="font: var(--unnamed-font-style-normal) normal 300 16px/18px var(--unnamed-font-family-sf-pro-display);
          text-align: center;
          font: normal normal 300 16px/18px SF Pro Display;
          letter-spacing: 0.22px;
          color: #788692; padding: 0px 35px 0px 35px;">You can set it by your current location or you can enter
            the address below</p>
          <ion-button class="center-button" shape="round" style="width: 264px;
          height: 53px; font-size: 16px;" (click)="fetchCurrentLocation()">Set Location</ion-button>
          <!-- <ion-button class="center-button" shape="round" id="pinLocation">Pin Location</ion-button> -->
          <!-- <p class="tc"> ---------------- or ----------------</p> -->
          <div class="line-container">
            <div class="line"></div>
            <span class="or-text">or</span>
            <div class="line"></div>
          </div>

          <!-- <ion-item lines="none">
            <ion-input [readonly]="true" class="input" type="text" formControlName="stateId" placeholder="Select State" id="selectState">
              <ion-icon slot="end" name="caret-down-outline" ></ion-icon>
            </ion-input> -->
          <!-- <ion-button class="select-style" type="button" id="selectState">
              <div>
                <span *ngIf="!selectedState" class="placeholder">Select State</span>
                <span *ngIf="selectedState">{{selectedState?.StateName}}</span>
              </div>
               {{selectedState?.StateName}}
                <div>
                  <span *ngIf="!selectedState" class="placeholder">Select State</span>
                  <span *ngIf="selectedState">{{selectedState?.StateName}}</span>
                </div>
               <ion-icon slot="end" name="caret-down-outline" ></ion-icon>
            </ion-button> -->
          <!-- </ion-item> -->
          <!-- <ion-item lines="none">
            <ion-button class="select-style" type="button" id="selectCity" [disabled]="!selectedState">
              <div>
                <span *ngIf="!selectedCity" class="placeholder">Select City</span>
                <span *ngIf="selectedCity">{{selectedCity?.CityName}}</span>
              </div>
              <ion-input class="input" type="text" formControlName="cityId" placeholder="Select City"></ion-input>
              <ion-icon slot="end" name="caret-down-outline" ></ion-icon>
            </ion-button>
          </ion-item> -->
          <!-- <ion-item lines="none">
            <ion-select placeholder="State" class="select" formControlName="stateId"
                (ionChange)="onStateChanged($event)">
              <ion-select-option *ngFor="let state of placesService.states"
                [value]="state.StateId">{{state.StateName}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-select placeholder="City" class="select" formControlName="cityId">
              <ion-select-option *ngFor="let city of placesService.cities"
                [value]="city.CityId">{{city.CityName}}</ion-select-option>
            </ion-select>
          </ion-item> -->

          <ion-item lines="none" class="fi-inputSelect" style="overflow: hidden;">
            <ion-input [readonly]="true" class="input" type="text" formControlName="state" placeholder="State"
              id="selectState">
            </ion-input>
            <ion-icon slot="end" name="caret-down-outline"></ion-icon>
          </ion-item>


          <ion-item lines="none" class="fi-inputSelect">
            <ion-input [readonly]="true" class="input" type="text" formControlName="city" placeholder="City"
              id="selectCity">
            </ion-input>
            <ion-icon slot="end" name="caret-down-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none">

            <ion-input class="input" type="number" formControlName="zipCode" placeholder="Zip Code"></ion-input>

            <span slot="error" class="fi-error-msg"
              *ngIf="addressForm.controls['zipCode'].value.length === 0 && addressForm.controls['zipCode'].touched">Zip
              Code is required</span>


          </ion-item>
          <!-- <ion-item lines="none">
            <ion-input class="input" placeholder="Unit Number" formContorlName="unitNo"></ion-input>
          </ion-item> -->
          <ion-item lines="none">
            <ion-input class="input" placeholder="Address Line 1" formControlName="addressLine1"></ion-input>
            <span slot="error" class="fi-error-msg"
              *ngIf="addressForm.controls['addressLine1'].value.length === 0 && addressForm.controls['addressLine1'].touched">Address
              Line 1 is
              required</span>
          </ion-item>
          <ion-item lines="none">
            <ion-input class="input" placeholder="Address Line 2" formControlName="addressLine2"></ion-input>
            <span slot="error" class="fi-error-msg">Address Line 2 is
              required</span>
          </ion-item>
          <!-- <ion-button expand="block" shape="round" type="submit">Continue</ion-button> -->
          <ion-button expand="block" shape="round" style="height: 53px; font-size: 16px;"
            [disabled]="addressForm.invalid" type="submit">Continue</ion-button>

        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.FILE_UPLOAD_REQ">
      <div class="bsname">
        <p class="subheading">{{getFileUploadLabel1()}}</p>
        <br />
        <p class="subheading">{{getFileUploadLabel2()}}</p>
        <ion-button expand="block" shape="round" (click)="uploadFile()" type="submit">
          <ion-icon src="assets/icon/a6.png"></ion-icon>{{getFileButtonTitle()}}</ion-button>
        <p class="tc">.jpg, .png, or pdf format only</p>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.FILE_UPLOAD_RES">
      <div class="bsname">
        <p class="subheading">File uploaded successfully</p>
        <ion-img class="emailsvg" src="assets/images/email.svg"></ion-img>
        <p class="tc">{{getUploadedFilename()}}</p>
        <ion-button expand="block" shape="round" (click)="continuePostFileUpload()" type="submit">Continue</ion-button>
      </div>
    </ng-container>
    <ng-container *ngIf="step==REG_STEP.BUSINESS_NP_WELCOME">
      <div class="bsname">
        <p class="subheading">{{getWelcomePageLabel()}}</p>
        <ion-button expand="block" shape="round" (click)="goToHome()" type="submit">Continue</ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>