<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button-white">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding ion-no-margin">
    <ion-item lines="none" class="ion-no-margin">
      <ul>
        <li><h3>UC Santa Barbara</h3>
          <p>
            BSEE, Electrical Engineering Solid state
          </p>
          <p>1992-1994</p>
        </li>
      </ul>
      <ion-buttons>
        <ion-button shape="round" (click)="presentAlert()">
          <ion-icon name="delete"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="edit-white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="ion-no-margin">
      <ul>
        <li><h3>Rensellaer Polytechnic Institute</h3>
          <p>
            BSEE, Electrical Engineering Solid state
          </p>
          <p>1989-1992</p>
        </li>
      </ul>
      <ion-buttons>
        <ion-button shape="round" (click)="presentAlert()">
          <ion-icon name="delete"></ion-icon>
        </ion-button>
        <ion-button shape="round">
          <ion-icon name="edit-white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
