<ion-header class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/icons/screen-wise-icons/Canvas screens icons as svg/Back icon.svg">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="edit()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon style="font-size: 26px;" name="menu-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid  *ngIf="salesService.shoppingListWords.length > 0" class="box-shadow">
    <ion-row>
      <ion-col size="4" style="font-size: 14px;">Shopping word</ion-col>
      <ion-col size="2" style="font-size: 14px;">Price</ion-col>
      <ion-col size="3" style="font-size: 14px; text-align: end;">Condition</ion-col>
      <ion-col size="3" style="font-size: 14px; text-align: end;">Distance</ion-col>
    </ion-row>
  </ion-grid>

  <ion-item style="margin-top: 10px;" *ngFor="let i of salesService.shoppingListWords" class="ion-no-padding ion-no-margin">
    <ion-grid style="text-align: center; font-size: 13px; font-weight: 500;">
      <ion-row>
        <ion-col style="font-weight: 600;" size="4">{{i.Word}}</ion-col>
        <ion-col size="2">{{i.Price}}</ion-col>
        <ion-col size="4">{{i.Condition}}</ion-col>
        <ion-col size="2">{{i.Distance}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


  <ng-container *ngIf="salesService.shoppingListWords.length == 0">
    <div class="nodata">
      <img style="margin-top: 20px;" src="assets/imgs/new/NoData.png">
      <h3> You have no shopping words listings at this time.</h3>
      <!-- <h3> Create a shopping words listing to attract the correct talent for your requirements.</h3> -->
    </div>
  </ng-container>
</ion-content>
<div style="display: flex; justify-content: center; align-items: center;">
  <ion-button (click)="viewMatchedResult()" style="text-transform: none; font-size: 20px; height: 46px; width: 336px; margin-bottom: 10px;" shape="round" expand="full" class="save-button">
    View all matches</ion-button>
</div>
