<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Username</ion-title>
  </ion-toolbar>
</ion-header>


<form>
  <ion-item lines="none"  style="margin-left: 14px;margin-right: 14px; margin-bottom: -15px;">
    <p style="color: red;font-size: medium;" ></p>
  </ion-item>

  <!-- <ion-input class="input1" (ionChange) = "onEmailInputChange($event)" formControlName="email" placeholder="Email/Phone number" type="inputTypePhone ? number:email" name="email"></ion-input> -->
  <ion-item lines="none" class="fi-padding" >
    <ion-input class="input fi-margin" formControlName="username" placeholder="New Username" type="username" name="newusername" (input)="onInputChange($event)" ></ion-input>
  </ion-item>


  <ion-item lines="none" class="fi-padding" >
    <ion-input class="input fi-margin" formControlName="password" placeholder="Password" type="password" name="password" (input)="onInputChangePassword($event)"></ion-input>
  </ion-item>
    <!-- <span slot="error">{{errorMsgGrp.password}}</span> -->
    <!-- <re-captcha [(ngModel)]="captcha" name="captcha" required #captchaControl="ngModel"></re-captcha> -->
    <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha> -->
  <ion-button  color="primary" class="lgn-button" (click)="submit()">Continue</ion-button>
  <!-- <ion-button *ngIf="inputTypePhone" color="primary" class="lgn-button" type="button" (click)="sendSignInOTP()">Sign in using OTP</ion-button> -->
</form>