<ion-header class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/icons/screen-wise-icons/Canvas screens icons as svg/Back icon.svg">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Service Required listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item lines="none">
      <ion-avatar slot="start">
        <!-- <ion-img alt="Logo" src="appConstants.mediaPrefix+ProfileImage"></ion-img> -->
        <img src="appConstants.mediaPrefix+ProfileImage"  />
      </ion-avatar>
      <ion-label>
        <h3>{{serviceObj.FirstName}} {{serviceObj.LastName}}</h3>
        <p>3 mins ago</p>
      </ion-label>
      <ion-label style="display: flex; text-align: center; justify-content: center; align-items: center; background-color: #F0F5F7;  width: 130px;
      height: 36px; border-radius: 17px;" slot="end" class="fd-views-label">
        <p style="font-size:15px ;">300 views</p>
        <ion-icon style="font-size: 25px !important; margin-right: 5px;" name="heat-map-icon"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-text class="ion-padding-start">
        <h2>{{serviceObj.Title}}</h2>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-slides pager="true">
        <ion-slide *ngFor="let i of serviceObj.ImageList">
          <ion-card class="ion-no-margin">
            <!-- <ion-img alt="thumbnail-img" [src]="appConstants.mediaPrefix+i"></ion-img> -->
            <img src="appConstants.mediaPrefix+i" onerror="this.style.display='none'" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item lines="none">
      <ion-label style="font-size: 20px; font-weight: 500; color: #285078;">
        {{currencySymbol}}{{serviceObj.Price}}{{serviceObj.PriceType}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-text class="desc" style="margin-bottom: 10px; font-size: 16px;">
        {{serviceObj.Description}}
      </ion-text>
    </ion-item>

    <br>
    <div style="margin-bottom: 10px;">
      <ion-label class="input-label">Start date</ion-label>
      <br>
      <ion-label class="desc">
        {{serviceObj.StartDate | date :"dd/MM/YYYY" }}
      </ion-label>
    </div>

    <div style="margin-bottom: 10px;">
      <ion-label class="input-label">Viewable by</ion-label>
      <br>
      <ion-label class="desc">
        {{commonService.getPrivacyFullValue(serviceObj.VisibleTo)}}
      </ion-label>
    </div>

    <div style="margin-bottom: 10px;">
      <ion-label class="input-label">Location</ion-label>
      <br>
      <ion-label class="desc">
        {{serviceObj.Location}} location
      </ion-label>
    </div> 
    <div style="margin-bottom: 10px;">
      <ion-label class="input-label">Offset location</ion-label>
      <br>
      <ion-label class="desc">
        <ng-container *ngIf="!serviceObj.LocationOffset">Disabled</ng-container>
        <ng-container *ngIf="serviceObj.LocationOffset">Enabled</ng-container>
      </ion-label>
    </div>
  
  </ion-list>
</ion-content>

<ion-footer>

  <ion-button *ngIf="serviceObj.DaysLeft >=0" expand="block" shape="round" class="footer-button" (click)="edit()">
    Edit
  </ion-button>
  <ion-button *ngIf="serviceObj.DaysLeft < 0" expand="block" shape="round" class="footer-button" (click)="renew()">
    Renew
  </ion-button>
</ion-footer>