<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="full" class="connection-card" (click)="referUserPage()">
          <div class="first-section">
            <ion-icon
              src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Menu refer user icon.svg"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Refer user</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="full" class="connection-card" (click)="openReportUserAlert()">
          <div class="first-section">
            <ion-icon
              src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Menu report user icon.svg"></ion-icon>
          </div>
          <div class="second-section">
            <ion-card-title>Report</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button="true" lines="none" class="connection-card"
                  (click)="openBlockUserAlert()">
          <div class="first-section">
            <ion-icon
              src="assets/icons/screen-wise-icons/Canvas screens icons as svg/Menu block user icon.svg"></ion-icon>
          </div>
          <div class="second-section ion-text-center">
            <ion-card-title>Block user</ion-card-title>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
