<p>starts here</p>
<div class="flexible-div" [style.height.px]="sliderHeight">
  <ion-slides [options]="sliderOpts" [style.height.px]="sliderHeight">
    <ion-slide *ngFor="let image of imageUri; let i = index">
      <div class="image-container" #imageContainer>
        <img 
          [src]="image.filePath"
          class="movable-image"
          #imageElement
          (load)="calculatePixelToScreen(imageElement)"
          (mousedown)="onTouchImageStart($event)"
          (mousemove)="onTouchImageMove($event)"
          (mouseup)="onTouchImageEnd($event)"
          (touchstart)="onTouchImageStart($event)"
          (touchmove)="onTouchImageMove($event)"
          (touchend)="onTouchImageEnd($event)"
          (wheel)="onMouseWheel($event)"
        />
      </div>
    </ion-slide>
  </ion-slides>
</div>

<div class="resizable-handle" 
     (mousedown)="onMouseDown($event, imageElement.nativeElement, imageContainer.nativeElement)"
     (touchstart)="onMouseDown($event, imageElement.nativeElement, imageContainer.nativeElement)">
</div>

<div>
  <button (click)="OnZoom(true)">zoom in</button>
  <br><br>
  <button (click)="OnZoom(false)">zoom out</button>
</div>

