<!-- <ion-icon name="greeting" *ngIf="isShowBlinkIcon == false && !isUserConnected" class="greeting-icon"
    (click)="sendGreeting()"></ion-icon>
<ion-icon name="greeting-blink" *ngIf="isShowBlinkIcon == true && !isUserConnected" class="greeting-icon"
    (click)="showGreetingActions()"></ion-icon>
<ion-icon name="chat" *ngIf="isShowChatIcon == true || isUserConnected" class="greeting-icon"
    (click)="chatWithUser()"></ion-icon> -->

<ion-icon [name]="getGreetingIcon()" class="greeting-icon"
    (click)="showGreetingActions()"></ion-icon>

<ion-modal #greetingAcceptRejectModal [initialBreakpoint]="0.31" [showBackdrop]="true" [breakpoints]="[0.25]">
    <ng-template>
        <div class="font-weight-600 font-primary-text" style="padding: 20px 20px 0px 20px;">
            <div class="display-flex--row flex-align-center" style="margin-bottom: 10px;">
                <div>
                    <ng-container *ngTemplateOutlet="userAvatarSmallView;"></ng-container>
                </div>
                <div>
                    {{fromUserName}} is greeting you
                </div>
            </div>
            <ion-list class="custom-class-list">
                <ion-item (click)="acceptGreeting(userInfo)" style="margin-bottom: 0px">
                    <ion-icon name="greeting-accept" style="margin-right: 10px;"></ion-icon>
                    <ion-label>
                        Accept
                    </ion-label>
                </ion-item>
                <ion-item (click)="rejectGreeting(userInfo)" style="margin-bottom: 0px">
                    <ion-icon name="greeting-reject" style="margin-right: 10px;"></ion-icon>
                    <ion-label>
                        Reject
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ng-template>
</ion-modal>

<ng-template #userAvatarSmallView>
    <ion-avatar style="width: 35px;height: 35px;overflow: hidden;">
        <img [src]="attachmentURL + fromUserProfile" style="width:100%;"
            onerror="this.onerror=null;this.src='assets/imgs/male.png';">
    </ion-avatar>
</ng-template>