<!-- image-cropper.component.html -->

<!-- <input type="file" (change)="fileChangeEvent($event)" /> -->
<ion-header class="ion-no-border">
    <ion-toolbar class="display-flex ion-justify-content-center ion-align-items-center">
      <ion-buttons (click)="dismiss()" slot="start">
        <ion-icon name="chat-back"></ion-icon>
      </ion-buttons>
      <ion-title>Crop Image</ion-title>
    </ion-toolbar>
</ion-header>

<image-cropper
    [imageBase64]="myImage"
    [maintainAspectRatio]="true"
    [aspectRatio]="aspectRatio"
    format="png"
    [imageQuality]="100"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
    class="img-crop"
></image-cropper>

<!-- <img [src]="croppedImage" /> -->
<div style="display: flex; justify-content: center; align-items: center;">

<ion-button style="margin-bottom: 20px; width:266px ; height: 44px; font-size:20px ;" (click)="saveCroppedImage()">Save Cropped Image</ion-button>
</div>