<!-- image-cropper.component.html -->

<!-- [options]="sliderOpts" zoom -->
<ion-slides *ngIf="imageUri && imageUri.length > 0" [pager]="true" [options]="sliderOpts">
  <ion-slide *ngFor="let photo of imageUri" class="slide-container">
    <!-- [maintainAspectRatio]="true"
      [aspectRatio]="aspectRatio" -->
      
      <!-- #cropArea #imageElement -->
    <div class="swiper-zoom-container" >
      <image-cropper
      (cropperReady)="cropperReady($event)"
      [imageBase64]="photo.filePath"
      [transform]="transform"
      format="png"
      [imageQuality]="100"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (startCropImage)="startCropImage()"
      (loadImageFailed)="loadImageFailed()"
      [cropperMaxHeight]="420"
      class="img"
      ></image-cropper>
    </div>
  </ion-slide>
</ion-slides>

<!-- [(transform)]="transform" -->
      <!-- [allowMoveImage]="true" -->
<!-- [disabled]="true" -->
<!-- [hideResizeSquares]="true" -->

