<ion-header class="ion-no-border">
  <!-- heading bar -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="userId!=logInfo.UserId"></ion-back-button>
      <app-notification-icon *ngIf="userId==logInfo.UserId"></app-notification-icon>
    </ion-buttons>
    <ion-title *ngIf="loaded">
      <img class="business-logo" src="{{appConstants.mediaPrefix + userProfile.user.ProfileImage}}"
        onError="this.src='assets/icons/business/anonymous2.svg'" />
      <span *ngIf="userProfile.user.DisplayName">
        {{userProfile.user.DisplayName}}
      </span>
      <span *ngIf="!userProfile.user.DisplayName">
        ANONYMOUS
      </span>
    </ion-title>
    <ion-buttons slot="end" class="fi-header-buttons">
       <ion-button shape="round" class="fi-announcement-btn1" (click)="announcementAction()" expand="block" *ngIf="userId!=logInfo.UserId && announcements.length>0 && announcements[0].IsActive">
        <ion-icon name="announcement">
        </ion-icon>
      </ion-button>
      <!-- anouncement button for business home screen own -->
      <ion-button class="fi-announcement-btn" (click)="announcementAction()">
        <ion-icon name="announcement-blue">
        </ion-icon>
      </ion-button>
      <ion-button shape="round" class="fi-edit-btn" (click)="editProfile()" *ngIf="userId==logInfo.UserId">
        <ion-icon slot="end" name="edit"></ion-icon>
      </ion-button>
      <ion-button shape="round" class="three-dots-menu" (click)="presentMenuModalForOther()" expand="block"
        *ngIf="userId!=logInfo.UserId">
        <ion-icon name="dots">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loaded">
  <ion-card class="header-card">
    <ion-card-header *ngIf="userProfile.user.About">
      <ion-card-subtitle class="fi-multiline-truncate">{{userProfile.user.About}}</ion-card-subtitle>
    </ion-card-header>
    <ion-text>{{userProfile.InflowsCount}} inflows</ion-text>
    <ion-card-content>
      <!-- row for business home own -->
      <ion-row class="header-card-details" *ngIf="userId==logInfo.UserId">
        <ion-button shape="round" size="small" (click)="viewConnectedMembers()">
          {{userProfile.ConnectedUserCount}} Connected members
        </ion-button>
        <ion-button shape="round" size="small" color="light" class="endorsement-btn" (click)="endorseBusiness()">
          {{userProfile.EndorsementCount}} Endorsements
        </ion-button>
      </ion-row>
      <!-- row for business home other -->
      <ion-row class="header-card-details1" *ngIf="userId!=logInfo.UserId ">
        <ion-button shape="round" size="small" class="connected-members" (click)="sendConnectionReqPopup()">
          <ion-icon size="large" [name]="getConnectionIcon()"></ion-icon>

        </ion-button>
        <ion-button shape="round" size="small" (click)="viewConnectedMembers()">
          <span> {{userProfile.ConnectedUserCount}} Connections </span>

        </ion-button>
        <ion-button shape="round" size="small" class="endorsement-btn" color="light" (click)="endorseBusiness()">
          <span> {{userProfile.EndorsementCount}} Endorsements</span>
        </ion-button>
        <ion-button shape="round" size="small" class="connected-members-chat" (click)="startChat()">
          <ion-icon name="connected-members-chat"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!--banner-->
  <ion-card class="thumbnail-card" *ngIf="userProfile.user.Banner">
    <ion-img  src="{{appConstants.mediaPrefix + userProfile.user.Banner}}"></ion-img>
  </ion-card>

  <!--business profile details-->
  <ion-card class="contact-details" *ngIf="userProfile.user.About">
    <ion-card-content style="padding: 10px;">
      <ion-row>
        <ion-col size="12" class="contact-details-items">
          <ion-icon name="business-location">
          </ion-icon>
          <ion-text>
            {{CityName}},
            {{StateName}},
            {{CountryName}}
          </ion-text>
        </ion-col>
        <ion-col size="12" class="contact-details-items">
          <ion-icon name="business-email">
          </ion-icon>
          <ion-text>
            {{userProfile.user.Email}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="contact-details-items">
          <ion-icon name="business-phone"></ion-icon>
          <ion-text>
            {{userProfile.user.Phone}}
          </ion-text>
        </ion-col>
        <ion-col size="12" class="contact-details-items">
          <ion-icon name="business-website"></ion-icon>
          <ion-text>
            {{userProfile.user.Website}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="ShowMoreProfileDetails">
        <ion-col size="12" *ngIf="userProfile.user.Address.AddressLine1" class="contact-details-items">
          <ion-text>
            {{userProfile.user.Address.AddressLine1}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.Address.AddressLine2" class="contact-details-items">
          <ion-text>
            {{userProfile.user.Address.AddressLine2}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.Address.ZipCode" class="contact-details-items">
          <ion-text>
            {{userProfile.user.Address.ZipCode}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.CustomField1" class="contact-details-items">
          <ion-text>
            {{userProfile.user.CustomField1}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.CustomField2" class="contact-details-items">
          <ion-text>
            {{userProfile.user.CustomField2}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.CustomField3" class="contact-details-items">
          <ion-text>
            {{userProfile.user.CustomField3}}
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="userProfile.user.CustomField4" class="contact-details-items">
          <ion-text>
            {{userProfile.user.CustomField4}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="expand">
        <ion-buttons>
          <ion-button shape="round" (click)="ShowMoreProfileDetails=!ShowMoreProfileDetails">
            <ion-icon [name]="ShowMoreProfileDetails ? 'see-less' : 'see-more'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!--menu list items-->
  <ion-accordion-group>
    <ion-accordion value="item list" toggleIcon="see-more">
      <ion-item slot="header" color="light">
        <ion-label>Item list/Menu</ion-label>
        <ion-buttons slot="end" (click)="editMenuItem()" *ngIf="userId==logInfo.UserId">
          <ion-button shape="round">
            <ion-icon name="edit" class="fd-edit"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div class="ion-padding list-items" slot="content">
        <ion-row>
          <ion-col size="4" *ngFor="let menuItem of menuItemList">
            <div class="fi-tab-height"
              [ngStyle]="{'background': 'url('+ appConstants.mediaPrefix + menuItem + ') no-repeat 0 0 / cover'}">
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <!--product list-->
  <ion-segment>
    <ion-text>
      Products
    </ion-text>
  </ion-segment>
  <div class="products-list">
    <ion-row>
      <ng-container *ngFor="let product of products; let i=index">
        <ion-col size="6" *ngIf="productPrivacy(product)">
          <ion-card class="products-list-card">
            <ion-img  (click)="productScreen(product,i)"
              [src]="appConstants.mediaPrefix + product.ProductImages[0]"></ion-img>
            <ion-buttons class="products-list-card--extra-icon" (click)="openProductOption(product,i)"
              *ngIf="userId==logInfo.UserId">
              <ion-button shape="round">
                <ion-icon name="dots"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-header class="products-list-card--header">
              <ion-card-title class="fi-truncate">{{product.Title}}</ion-card-title>
              <!-- <ion-card-subtitle>{{product.TitleDescription}}</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="userId==logInfo.UserId">
    <ion-fab-button color="primary" size="small" (click)="addProduct()">
      <ion-icon class="add-post-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal class="announcement-modal--own" (ionModalWillDismiss)="modalDismiss()" [isOpen]="isAnnouncmentModalOpen">
    <ng-template>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>
            Announcement
            <ion-buttons style="float:right">
              <ion-button shape="round" (click)="closeAnnouncement()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="thumbnail-img" *ngIf="announcements[0].Images[0]"
            [src]="appConstants.mediaPrefix + announcements[0].Images[0]"></ion-img>
          <ion-card-subtitle>{{announcements[0].AnnouncementTitle}} </ion-card-subtitle>
          <p>
            {{announcements[0].AnnouncementDescription}}
          </p>
        </ion-card-content>
        <ion-row *ngIf="userId==logInfo.UserId">
          <ion-col>
            <ion-button fill="outline" color="danger" shape="round" expand="full" (click)="enableDisableAnnouncement()">
              <span *ngIf="announcements[0].IsActive">Disable</span>
              <span *ngIf="!announcements[0].IsActive">Enable</span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="bold" shape="round" expand="full" (click)="editAnnouncement()">
              <ion-icon name="announcement-edit"></ion-icon>
              Edit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- skeleton view -->
<ion-content [fullscreen]="true" *ngIf="!loaded">
  <ion-card class="header-card">
    <ion-card-header>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-header>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-card-content>
      <ion-skeleton-text style="height:100px" animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <!--banner-->
  <ion-card class="contact-details">
    <ion-card-content>
      <ion-skeleton-text style="height:100px" animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <!--business profile details-->
  <ion-card class="contact-details">
    <ion-card-content>
      <ion-skeleton-text style="height:80px" animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal class="announcement-modal--own" [isOpen]="isAnnouncmentModalOpen">
  <ng-template>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>
          Announcement
          <ion-buttons style="float:right">
            <ion-button shape="round" (click)="closeAnnouncement()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img class="thumbnail-img" *ngIf="announcements[0].Images[0]" [src]="announcements[0].Images[0]"></ion-img>
        <ion-card-subtitle>{{announcements[0].AnnouncementTitle}} </ion-card-subtitle>
        <p>
          {{announcements[0].AnnouncementDescription}}
        </p>
      </ion-card-content>
      <ion-row *ngIf="userId==logInfo.UserId">
        <ion-col>
          <ion-button fill="outline" color="danger" shape="round" expand="full" (click)="enableDisableAnnouncement()">
            <span *ngIf="announcements[0].IsActive">Disable</span>
            <span *ngIf="!announcements[0].IsActive">Enable</span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="bold" shape="round" expand="full" (click)="editAnnouncement()">
            <ion-icon name="announcement-edit"></ion-icon>
            Edit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-template>
</ion-modal>
