<ion-header class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <ion-back-button icon="back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Global giving</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon name="bluechat"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-list class="display-flex ion-justify-content-between">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img alt="Logo" src="../assets/imgs/donation.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>Global giving</h3>
          <p>1 day ago</p>
        </ion-label>
      </ion-item>
      <ion-buttons slot="end">
        <ion-button shape="round">
          <ion-icon name="three-dots"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list>
  </ion-segment>

  <div class="chips">
    <ion-chip>
      <ion-icon name="made-donation"></ion-icon> &nbsp;
      Made donation
    </ion-chip>
    <ion-chip>
      View all requests
    </ion-chip>
  </div>

  <div class="main">

    <ion-list>
      <h3>Old clothes donation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
      <ion-item lines="none">
        <ion-slides pager="true">
          <ion-slide>
            <ion-card class="ion-no-margin">
              <ion-img alt="thumbnail-img" src="assets/events.png"></ion-img>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="ion-no-margin">
              <ion-img alt="thumbnail-img" src="assets/events.png"></ion-img>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="ion-no-margin">
              <ion-img alt="thumbnail-img" src="assets/events.png"></ion-img>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="ion-no-margin">
              <ion-img alt="thumbnail-img" src="assets/events.png"></ion-img>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="ion-no-margin">
              <ion-img alt="thumbnail-img" src="assets/events.png"></ion-img>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-item>

      <ion-item class="bottom-menu display-flex ion-justify-content-between">
        <div class="favour-n-beam">
          <ion-icon name="comment-favour-filled"></ion-icon>
          <ion-icon name="beam"></ion-icon>
        </div>
        <div class="stats display-flex ion-align-items-center">
          <h4>35 Favors</h4>
          <span></span>
          <h4>12 Beams</h4>
          <span></span>
          <h4>2 Comments</h4>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="comments">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img alt="Logo" src="../assets/imgs/donation.png"></ion-img>
        </ion-avatar>
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h3>Jessie Paron</h3>
              <p>2 mins ago</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button shape="round">
                <ion-icon name="three-dots"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="none">
            <ion-card>
              <ion-text>Can this work?</ion-text>
              <ion-img src="../assets/imgs/clothes.jpg"></ion-img>
            </ion-card>
          </ion-item>
          <ion-item class="comments-bottom-menu display-flex ion-justify-content-between">
            <div class="favour-n-beam">
              <ion-icon name="comment-favour-outlined"></ion-icon>
            </div>
            <div class="stats display-flex ion-align-items-center">
              <h4>2 Favors</h4>
              <span></span>
              <h4>Reply</h4>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <ion-list class="replies">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img alt="Logo" src="../assets/imgs/donation.png"></ion-img>
        </ion-avatar>
        <ion-list lines="none">
          <ion-item lines="none" style="height: 40px">
            <ion-label>
              <h3>Cathy Lebra</h3>
              <p>1 mins ago</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button shape="round">
                <ion-icon name="three-dots"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="none">
            <ion-card>
              <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</ion-text>
            </ion-card>
          </ion-item>
          <ion-item class="comments-bottom-menu display-flex ion-justify-content-between" lines="none">
            <div class="favour-n-beam">
              <ion-icon name="comment-favour-outlined"></ion-icon>
            </div>
            <div class="stats display-flex ion-align-items-center">
              <h4>0 Favors</h4>
              <span></span>
              <h4>Reply</h4>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <ion-list class="replies">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img alt="Logo" src="../assets/imgs/donation.png"></ion-img>
        </ion-avatar>
        <ion-list lines="none">
          <ion-item lines="none" style="height: 40px">
            <ion-label>
              <h3>Amanda Wilson</h3>
              <p>Few seconds ago</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button shape="round">
                <ion-icon name="three-dots"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="none">
            <ion-card>
              <ion-text><span>@Cathy Lebra</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </ion-text>
            </ion-card>
          </ion-item>
          <ion-item class="comments-bottom-menu display-flex ion-justify-content-between" lines="none">
            <div class="favour-n-beam">
              <ion-icon name="comment-favour-outlined"></ion-icon>
            </div>
            <div class="stats display-flex ion-align-items-center">
              <h4>0 Favors</h4>
              <span></span>
              <h4>Reply</h4>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="display-flex ion-align-items-center">
    <ion-buttons slot="start">
      <ion-button shape="round">
        <ion-icon name="comment-attach"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Write a comment"></ion-input>
    <ion-buttons slot="end">
      <ion-button shape="round" class="blue-background">
        <ion-icon name="comment-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
