.button-small {
  --padding-top: 0;
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-bottom: 0;
  text-transform: capitalize;
  font: normal normal 600 13px/16px SF Pro Display;
  letter-spacing: 0.18px;
  color: #FFFFFF;
  opacity: 1;
}

.username{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



button {
  padding-left: 0px !important;
}


.chat {
  border: 2px solid;
  width: 150px;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.mainuserview {
  position: absolute;
  display: contents;
}


.business-logo {
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;

  top: 30px;
}

.action-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

ion-card {
  background-color: #EAF1F4;
  box-shadow: none;
  border-radius: 30px !important;
  z-index: 0;
  transform: translateY(-19px);
  width: 95%;
}

.header-card {
  width: 85%;
  height: 210px;


  /* UI Properties */
  background: #EAF1F4 0% 0% no-repeat padding-box;
  border-radius: 30px;

  margin-top: 18px;

  &-details-other {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &>ion-col {


      &>ion-button {
        margin: 0;
        --padding-start: 0;
        --padding-end: 0;
        text-transform: none;

        &>ion-label {
          letter-spacing: 0.18px;
          font: normal normal 600 11px/16px;
        }
      }

    }
  }

  ion-card-header {
    padding: 5px;
    text-align: center;

    ion-card-subtitle {
      text-align: center;

      opacity: 1;

      margin-top: 10px;
      font: var(--unnamed-font-style-normal) normal normal 20px/27px Segoe UI;
      color: var(--unnamed-color-707070);

      font: normal normal normal 18px/27px Segoe UI;
      letter-spacing: 0px;
      color: #707070;

    }
  }

  ion-text {

    text-align: center;
    margin-bottom: 15px;

    font: normal normal 600 23px/25px SF Pro Display;
    letter-spacing: 0.37px;
    color: #285078;

  }

}

.header-card2 {
  height: auto;
  margin-top: 0px;
}

.thumbnail-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 185px;
}

.thumbnail-img {
  width: 100%;
  height: 185px;
  object-fit: cover;
}

.contact-details {
  border-radius: 11px !important;

  &>ion-card-content {
    padding-left: 5px;
  }
}

.contact-details-items {
  display: flex;
  justify-content: start;
  column-gap: 5px;
  align-items: center;

  &>ion-text {
    font: normal normal 600 18px/21px SF Pro Display;
    letter-spacing: 0.22px;
    color: #1A3253;
    opacity: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.expand {
  position: absolute;
  bottom: 0;
  right: 10px;

  &-icon {
    margin-left: auto;
  }

  ion-icon {
    width: 15px;
    height: 10px;
  }
}

ion-accordion-group {
  padding: 0 15px;
  background: #F0F5F7;

  &>ion-accordion {
    &>ion-item {
      margin-bottom: 0;
      --min-height: 32px;

      &>ion-label {
        font: normal normal bold 18px/28px SF Pro Display;
        letter-spacing: 0.22px;
        color: #285078;
        margin: 0;
      }

      &>ion-buttons {
        ion-button {
          ion-icon {
            height: 15px;
            margin-right: 5px;
          }
        }
      }

    }

    .list-items {
      background-color: #F0F5F7;
    }
  }
}

ion-segment {
  background: #f0f5f7;
  padding: 4px;
  justify-content: space-between;
  margin: 5px 0;
  height: 32px;

  &>ion-text {
    margin-left: 10px;
    font-size: 18px;
    color: #285078;
    font-weight: bold;
  }
}

.products-list {
  padding: 0 10px;

  &-card {
    margin: 0;
    border-radius: 0 !important;
    background-color: #F0F5F7;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

    ion-img {
      width: 100%;
      min-height: 170px;
      max-height: 170px;
      object-fit: cover;
    }

    &--extra-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;

      &>ion-button {
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 5px;
        --padding-end: 5px;
        border-radius: 4px;
        background: transparent;

        &>ion-icon {
          font-size: 1em;
        }
      }
    }

    &--header {
      padding: 5px 8px;
      height: 31px;
      background: #e1e6ec;
      border-radius: 0px 0px 10px 10px;

      &>ion-card-title {
        font-size: 17px;
        color: #1A3253;
        font-weight: 600;
        letter-spacing: 0.16px;
      }
    }
  }
}

ion-fab-button {
  margin: 5px;
  --border-radius: 6px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  margin-right: 19px;

  ion-icon {
    transform: rotate(45deg);
  }
}

.header-card-details1 {

  display: flex;
  justify-content: center;
  gap: 3%;

  .connected-members,
  .connected-members-chat {
    width: 35px;
    height: 28px;
    border-radius: 17px;
  }

  ion-button {
    --box-shadow: none;
    margin-right: 5px;
  }

  ion-button:nth-child(2) {
    width: 119px;
  }

  ion-button:nth-child(3) {
    width: 112px;
  }

  ion-icon {
    width: 17px;
    height: 16px;
  }
}

.header-card-details {
  justify-content: center;
  align-items: center;
  gap: 3%;

  ion-button {
    --box-shadow: none;
    align-items: center;
    margin-bottom: 10px;
  }

  ion-button:nth-child(1) {
    width: 160px !important;
    ;
  }
}



.endorsement-btn {

  --background: transparent;
  --box-shadow: none;
  border: 1px solid #1A3253;
  border-radius: 17px;
  color: #1A3253;
  width: 150px;
  height: 29px;
  font-size: 17px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/14px var(--unnamed-font-family-sf-pro-display);

font: normal normal 600 20px/14px SF Pro Display;
letter-spacing: 0.32px;
color: #5D5D5D;



}

.endorsement-btn::part(native) {
  background: none;
  color: none;
}

.fi-header-buttons {
  ion-button::part(native) {

    padding: 0px;
  }

  .fi-edit-btn {
    padding-right: 7px;
  }

  .fi-announcement-btn {
    --background: transparent;
    --box-shadow: none;
    font-size: 0px;

    ion-icon {
      width: 30px;
      height: 21px;
    }
  }

  .fi-announcement-btn1 {
    width: 40px;

    ion-icon {
      width: 30px;
      height: 21px;
    }
  }

  .three-dots-menu {
    width: 30px;
    padding-right: 7px;

    ion-icon {
      height: 16px
    }
  }
}

ion-img::part(image) {
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .products-list {
    ion-img {
      min-height: 340px;
      max-height: 340px;
    }
  }

  .fi-tab-height {
    height: 200px !important;
  }
}

@media screen and (max-width: 652px) {
  .products-list {
    ion-img {
      min-height: 170px;
      max-height: 170px;
    }
  }

  .fi-tab-height {
    height: 100px !important;
  }
}

.secondrow {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.closecross {
  width: 11px;
  height: 23px;
  position: absolute;
  top: 5px;
  left: 334px;
}

.userimg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  border: 6px solid white;
  z-index: 1;
  margin-top: -74px;
  object-fit: cover;
}

.userimgevent {
  width: 196px;
  height: 143px;
  border-radius: 48px;
  position: absolute;
  border: 0px solid;
  z-index: 1;
  margin-top: -74px;
}

.secondrow {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 307px;
  // height: 20px;
  // position: relative;
}

.back {
  position: absolute;
  left: 11px;
  width: 30px;
  height: 79px;
  color: black;
  top: 110px
}

.back2 {
  position: absolute;
  top: 112px;
  left: 11px;
  width: 30px;
  height: 79px;
  color: black;
}

.front {
  position: absolute;
  right: 11px;
  width: 30px;
  height: 79px;
  color: black;
  top: 110px
}

.front2 {
  position: absolute;
  top: 112px;
  right: 11px;
  width: 30px;
  height: 79px;
  color: black;
}

.followeruser {
  margin-top: 25px;
}

.followeruserevent {
  display: none;
  // margin-top: 3px;
}

.eventcard {
  margin-top: 33px;
}

.traitshead {
  margin-bottom: 10px;
  margin-top: -16px;
  text-align: center;
  font: var(--unnamed-font-style-normal) normal bold 20px/38px var(--unnamed-font-family-sf-pro-display);
  color: var(--unnamed-color-285078);

  font: normal normal bold 20px/38px SF Pro Display;
  letter-spacing: 0.32px;
  color: #285078;
  opacity: 1;
}

ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

.alltraits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px 0px 20px;
}

.person_trait {

  height: 37px;
  background: #E8F7FE 0% 0% no-repeat padding-box;
  border: 2px solid #AED6E9;
  border-radius: 22px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal medium 18px/40px var(--unnamed-font-family-sf-pro-display);
  color: var(--unnamed-color-285078);
  text-align: left;
  font: normal normal medium 16px/38px SF Pro Display;
  letter-spacing: 0.25px;
  color: #285078;
  opacity: 1;
  font-size: 18px;
}

.modal-wrapper,
.modal-shadow {
  overflow: visible !important; // Use !important to ensure the override
}

.ion-overlay-wrapper {
  overflow: visible;
}

/* app-marker-detail.component.scss */

:host {
  display: block;
  overflow: visible !important;
}

.your-ionic-modal-class {
  overflow: visible !important;
}

/* app-marker-detail.component.scss */


.custom-modal .modal-wrapper {
  overflow: visible !important;
}

.modal-handle {
  z-index: 0;
}

@media (min-width: 600px) {
  .closecross {
    top: 14px;
    left: 473px;
    width: 23px;
    height: 23px;
  }

  .header-card {
    width: 407px;
    height: 256px;

  }

  .header-card ion-text {
    margin-bottom: 20px;
    font-size: 30px;
  }

  ion-card-header {


    ion-card-subtitle {
      margin-top: 15px;

    }
  }

  .header-card-details button {
    width: 187px !important;
    ;
  }
}

@media (min-width: 471px) {
  .front {
    right: 68px;
  }

  .back {
    left: 67px;
  }

  ion-card-subtitle {
    margin-top: 15px;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  ion-card-header {
    ion-card-subtitle {

      margin-top: 25px;
      font: normal normal normal 18px/18px SF Pro Display;
    }
  }


  .header-card {
    width: 440px;
    height: 287px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-card-details {

      ion-button:nth-child(1) {
        width: 185px !important;
        height: 38.6px;
        font-size: 25px;
      }
    }
  }


}


ion-icon[name="chevron-back-circle-outline"] {
  --ion-color-primary: blue;
}

/* Apply a border to simulate the circle outline */
ion-icon[name="chevron-back-circle-outline"]::part(inner) {
  border: 1px solid black;
  border-radius: 50%;
}

.userevent_namelogo {
  width: 50px;
  height: 50px;
  border: 1px solid var(--unnamed-color-707070);
  box-shadow: -1px 3px 6px #000000B8;

  border-radius: 24px;
  border: 3px solid white;
  object-fit: cover;

}

.eventname {
  font: var(--unnamed-font-style-normal) normal bold 25px/24px var(--unnamed-font-family-sf-pro-display);
  font: normal normal bold 25px/24px SF Pro Display;
  letter-spacing: 0.4px;
  color: #285078;
  opacity: 1;
}

.eventdate,
.eventtime {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 16px/19px var(--unnamed-font-family-sf-pro-display);
  letter-spacing: 0.25px;
}

.price {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 26px/31px var(--unnamed-font-family-sf-pro-display);
  color: var(--unnamed-color-1a3253);
  text-align: left;
  font: normal normal 600 26px/31px SF Pro Display;
  letter-spacing: 0.41px;
  color: #1A3253;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 20px;
}