<!-- <div class="mainuserview"> -->

  <ion-row class="firstrow">

    <img (click)="openUser(currentItem)" class="userimg" src="{{appConstants.mediaPrefix + ( currentItem.UserProfileImage || currentItem.ProfilePhoto ) }}"
      onError="this.src='assets/icons/business/anonymous.svg'" />
    <ion-icon name="close-icon" class="closecross" (click)="closeDetails()"></ion-icon>
  </ion-row>


  <ion-row class="secondrow">

    <ion-card (click)="openUser(currentItem)" class="header-card" *ngIf="currentItem.entity=='U' && currentItem.UserTypeId==1" style="background-color:  #EAF1F4;">

      <ion-card-header class="followeruser" style="background-color:  #EAF1F4;">
        <ion-text class="ion-text-center name">{{currentItem.DisplayName}}</ion-text>
        <ion-card-subtitle class="fi-multiline-truncate username">@{{currentItem.UserName}} | 100 Followers</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
    
        <ion-row class="header-card-details">
     
          <ion-button shape="round" size="small" color="light" class="endorsement-btn" (click)="tempClick()">
            5.2k Connections
          </ion-button>

     
        </ion-row>

        <ion-row class="header-card-details">
          <div class="action-list">
            <ion-icon name="greeting" style="font-size: 36px;" (click)="tempClick()"></ion-icon>
            <ion-icon name="onhold" style="font-size: 36px;" (click)="tempClick()"></ion-icon>
            <ion-icon name="user-block" style="font-size: 36px;" (click)="tempClick()"></ion-icon>

          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-icon *ngIf="showPrevious" name="chevron-back-circle-outline" class="back"
      (click)="loadNextItem(true)"></ion-icon>


    <ion-card class="header-card" *ngIf="currentItem.entity=='U' && currentItem.UserTypeId==2">
      <ion-text>{{currentItem.DisplayName}}</ion-text>
      <p><ion-text>{{currentItem.SonorDescription}}</ion-text></p>
      <ion-card-header>
        <ion-card-subtitle class="fi-multiline-truncate">@{{currentItem.UserName}}
          | 100 Followers</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-row class="header-card-details">
          <ion-button shape="round" size="small" color="light" class="endorsement-btn connectios" (click)="tempClick()">
            5.2k Connections
          </ion-button>
          <ion-button shape="round" size="small" color="light" class="endorsement-btn" (click)="tempClick()">
            1k Endorsements
          </ion-button>
        </ion-row>
        <ion-row class="header-card-details">

          <ion-text><ion-icon name="user-block"></ion-icon>Black Friday</ion-text>
        </ion-row>
        <!-- row for business home other -->
        <ion-row class="header-card-details">

          <ion-button shape="round" size="small" class="connected-members-chat" (click)="tempClick()">
            <ion-icon name="connected-members-chat"></ion-icon>
            <span> Chat Now</span>
          </ion-button>
          <ion-button shape="round" size="small" class="connected-members-chat" (click)="tempClick()">
            <ion-icon name="see-more"></ion-icon>
            <span> Sonar</span>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-icon *ngIf="showNext" name="chevron-forward-circle-outline" class="front"
      (click)="loadNextItem(false)"></ion-icon>
  </ion-row>

  <div class="traitshead" *ngIf="currentItem.entity=='U' && currentItem.UserTypeId==1">
    <ion-text>My Traits</ion-text>
  </div>

  <div class="alltraits">
    <ion-chip class="person_trait" color="primary">Dance</ion-chip>
    <ion-chip class="person_trait" color="primary">football Play</ion-chip>
    <ion-chip class="person_trait" color="primary">Music</ion-chip>
    <ion-chip class="person_trait" color="primary">Cricket</ion-chip>
    <ion-chip class="person_trait" color="primary">Event creating</ion-chip>
    <ion-chip class="person_trait" color="primary">Reading Books</ion-chip>
    <ion-chip class="person_trait" color="primary">Stiching</ion-chip>
  </div>

  <!-- <div *ngIf="currentItem.entity=='U' && currentItem.UserTypeId==2">
    <ion-text>Products & Services</ion-text>
  </div> -->
<!-- </div> -->